@charset "UTF-8";
/*
*  html5resetcss
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*メイン*/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  width: 100%;
  letter-spacing: 2px;
}

/*header部分*/
.header-wrapper {
  width: 100%;
  height: 80px;
  background: #fff;
  opacity: 0.9;
  position: fixed;
  z-index: 10;
}

.header-wrapper__logo {
  height: 70px;
  margin-top: 3px;
  margin-left: 20px;
  display: inline-block;
}

.header-wrapper__nav {
  float: right;
}

.header-wrapper__nav .list-header-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper__nav .list-header-nav a {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-decoration: none;
  font-size: 16px;
  color: #64533d;
  display: block;
  margin-top: 33px;
  margin-right: 40px;
  letter-spacing: normal;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header-wrapper__nav .list-header-nav a:hover {
  opacity: 0.6;
}

.header-wrapper__hamburger-menu {
  display: none;
}

/*main部分*/
.topImages {
  width: 100%;
}

.topImages .topImage1 img {
  display: block;
  width: 100%;
  padding-top: 80px;
}

.topImages .topImage2 img {
  display: block;
  width: 100%;
}

.topImages .topImage3 img {
  display: block;
  width: 100%;
}

.topImages .topImage4 img {
  display: block;
  width: 100%;
}

.topImages img.sp {
  display: none;
}

.merchandisesList {
  padding-top: 100px;
  background: url("../home_image/background_main.png") center center/cover no-repeat;
  /*お問い合わせボタンとTEL*/
}

.merchandisesList__logo {
  width: calc(360 / 1400 * 100%);
  margin: 0 auto;
}

.merchandisesList__logo img {
  width: 100%;
}

.merchandisesList__titleText {
  width: calc(526 / 1400 * 100%);
  margin: 0 auto;
  padding-top: 101px;
}

.merchandisesList__titleText h2 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 46px;
  font-weight: normal;
  color: #64533d;
  letter-spacing: 4px;
  text-align: center;
  white-space: nowrap;
}

.merchandisesList__titleText--underShape {
  width: calc((224 / 1400) * (1400 / 526) * 100%);
  margin: 0 auto;
  padding-top: 20px;
}

.merchandisesList__titleText--underShape img {
  width: 100%;
}

.merchandisesList__merchandise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  margin: 125px auto 0 auto;
  /*DelicateWashの下の余白*/
}

.merchandisesList__merchandise--image-Copal {
  width: 540px;
  margin-right: 80px;
}

.merchandisesList__merchandise--image-Copal img.Copal {
  width: 100%;
}

.merchandisesList__merchandise--image-Umber {
  width: 540px;
  margin-right: 80px;
}

.merchandisesList__merchandise--image-Umber img.Umber {
  width: 100%;
}

.merchandisesList__merchandise--image-SkinCleaner {
  width: 540px;
  margin-right: 80px;
  padding-left: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--image-SkinCleaner img.SkinCleaner {
  width: 73%;
}

.merchandisesList__merchandise--image-SwellingPlus {
  width: 540px;
  margin-right: 80px;
  padding-left: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--image-SwellingPlus img.SwellingPlus {
  width: 73%;
}

.merchandisesList__merchandise--image-ConditioningMilk {
  width: 540px;
  margin-right: 80px;
  padding-left: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--image-ConditioningMilk img.ConditioningMilk {
  width: 73%;
}

.merchandisesList__merchandise--image-Rescuem {
  width: 540px;
  margin-top: 105px;
  margin-right: 80px;
  padding-left: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--image-Rescuem img.Rescuem {
  width: 90%;
}

.merchandisesList__merchandise--image-WhitySerum {
  width: 540px;
  margin-top: 175px;
  margin-right: 80px;
  padding-left: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--image-WhitySerum img.WhitySerum {
  width: 90%;
}

.merchandisesList__merchandise--image-PearlEssence {
  width: 540px;
  margin-top: -25px;
  margin-right: 80px;
  padding-left: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--image-PearlEssence img.PearlEssence {
  width: 73%;
}

.merchandisesList__merchandise--image-DelicateWash {
  width: 540px;
  margin-top: -45px;
  margin-right: 80px;
  padding-left: 145px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--image-DelicateWash img.DelicateWash {
  width: 73%;
}

.merchandisesList__merchandise--details {
  width: calc(660 / 1209 * 105%);
  /*それぞれの商品名と容量の部分*/
  /*商品の種類名*/
  /*Copal*/
  /*Umber*/
  /*SkinCleaner*/
  /*SwellingPlus*/
  /*ConditioningMilk*/
  /*Rescuem*/
  /*WhitySerum*/
  /*PearlEssence*/
  /*FabulousShot*/
  /*
            .textBox-FabulousShot {
            }*/
  /*DelicateWash*/
}

.merchandisesList__merchandise--details .name-Copal {
  margin-left: -20px;
  position: relative;
  /*商品の容量部分*/
}

.merchandisesList__merchandise--details .name-Copal::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '容量800g';
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
  width: 110px;
  height: 28px;
  background-color: #841d08;
  border-radius: 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 475px;
}

.merchandisesList__merchandise--details .name-Umber {
  margin-left: -20px;
  margin-bottom: 10px;
  position: relative;
  /*商品の容量部分*/
}

.merchandisesList__merchandise--details .name-Umber::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '容量800g';
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
  width: 110px;
  height: 28px;
  background-color: #841d08;
  border-radius: 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 475px;
}

.merchandisesList__merchandise--details .name-SkinCleaner {
  margin-left: -20px;
  margin-bottom: 10px;
  position: relative;
  /*商品の容量部分*/
}

.merchandisesList__merchandise--details .name-SkinCleaner::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '容量300ml';
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
  width: 120px;
  height: 28px;
  background-color: #841d08;
  border-radius: 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 475px;
}

.merchandisesList__merchandise--details .name-SwellingPlus {
  margin-left: -20px;
  position: relative;
  /*商品の容量部分*/
}

.merchandisesList__merchandise--details .name-SwellingPlus::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '容量300ml';
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
  width: 120px;
  height: 28px;
  background-color: #841d08;
  border-radius: 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 480px;
}

.merchandisesList__merchandise--details .name-ConditioningMilk {
  margin-left: -20px;
  position: relative;
  /*商品の容量部分*/
}

.merchandisesList__merchandise--details .name-ConditioningMilk::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '容量300ml';
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
  width: 120px;
  height: 28px;
  background-color: #841d08;
  border-radius: 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 620px;
}

.merchandisesList__merchandise--details .name-Rescuem {
  margin-left: -20px;
  margin-bottom: 10px;
  position: relative;
  /*商品の容量部分*/
}

.merchandisesList__merchandise--details .name-Rescuem::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '容量30g';
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
  width: 100px;
  height: 28px;
  background-color: #841d08;
  border-radius: 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 480px;
}

.merchandisesList__merchandise--details .name-WhitySerum {
  margin-left: -20px;
  position: relative;
  /*商品の容量部分*/
}

.merchandisesList__merchandise--details .name-WhitySerum::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '容量50g';
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
  width: 100px;
  height: 28px;
  background-color: #841d08;
  border-radius: 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 480px;
}

.merchandisesList__merchandise--details .name-PearlEssence {
  margin-left: -20px;
  margin-bottom: 10px;
  position: relative;
  /*商品の容量部分*/
}

.merchandisesList__merchandise--details .name-PearlEssence::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '容量100ml';
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
  width: 120px;
  height: 28px;
  background-color: #841d08;
  border-radius: 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 42px;
  left: 490px;
}

.merchandisesList__merchandise--details .name-DelicateWash {
  margin-left: -20px;
  margin-bottom: 15px;
  position: relative;
  /*商品の容量部分*/
}

.merchandisesList__merchandise--details .name-DelicateWash::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '容量150ml';
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
  width: 120px;
  height: 28px;
  background-color: #841d08;
  border-radius: 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 42px;
  left: 530px;
}

.merchandisesList__merchandise--details .kindName {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  width: 623px;
  max-height: 62px;
  background: linear-gradient(120deg, #9e8151, #dbc5a1 21%, #9e8151 51%, rgba(219, 197, 161, 0) 90%);
  padding: 13px 0px 13px 23px;
}

.merchandisesList__merchandise--details .kindName h2 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}

.merchandisesList__merchandise--details .textBox-Copal {
  width: 710px;
  background: url("../home_image/merchandises/Copal-textBox.png") no-repeat;
  margin-top: 10px;
  margin-left: -20px;
  padding: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--details .textBox-Copal__description {
  width: 592px;
}

.merchandisesList__merchandise--details .textBox-Copal__description p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #64533d;
  font-size: 16px;
  letter-spacing: 2.1px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-Copal__usageType {
  margin-top: 30px;
}

.merchandisesList__merchandise--details .textBox-Copal__usageType--box {
  background: #c28356;
  width: 106px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-Copal__usageType--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-Copal__usageType p.main-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-Copal__features {
  margin-top: 30px;
}

.merchandisesList__merchandise--details .textBox-Copal__features--box {
  background: #c28356;
  width: 54px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-Copal__features--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-Copal__features ul.main-text {
  list-style: none;
}

.merchandisesList__merchandise--details .textBox-Copal__features ul.main-text li {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-Umber {
  width: 710px;
  background: url("../home_image/merchandises/Umber-textBox.png") no-repeat;
  margin-top: 10px;
  margin-left: -20px;
  padding: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--details .textBox-Umber__description {
  width: 592px;
}

.merchandisesList__merchandise--details .textBox-Umber__description p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #64533d;
  font-size: 16px;
  letter-spacing: 2.1px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-Umber__usageType {
  margin-top: 30px;
}

.merchandisesList__merchandise--details .textBox-Umber__usageType--box {
  background: #c28356;
  width: 106px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-Umber__usageType--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-Umber__usageType p.main-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-Umber__features {
  margin-top: 30px;
}

.merchandisesList__merchandise--details .textBox-Umber__features--box {
  background: #c28356;
  width: 54px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-Umber__features--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-Umber__features ul.main-text {
  list-style: none;
}

.merchandisesList__merchandise--details .textBox-Umber__features ul.main-text li {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-SkinCleaner {
  width: 710px;
  background: url("../home_image/merchandises/SkinCleaner-textBox.png") no-repeat;
  margin-top: 10px;
  margin-left: -20px;
  padding: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--details .textBox-SkinCleaner__description {
  width: 592px;
}

.merchandisesList__merchandise--details .textBox-SkinCleaner__description p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #64533d;
  font-size: 16px;
  letter-spacing: 2.1px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-SkinCleaner__usefulness {
  margin-top: 30px;
}

.merchandisesList__merchandise--details .textBox-SkinCleaner__usefulness--box {
  background: #c28356;
  width: 54px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-SkinCleaner__usefulness--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-SkinCleaner__usefulness p.main-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-SwellingPlus {
  width: 710px;
  background: url("../home_image/merchandises/SwellingPlus-textBox.png") no-repeat;
  margin-top: 10px;
  margin-left: -20px;
  padding: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--details .textBox-SwellingPlus__description {
  width: 592px;
}

.merchandisesList__merchandise--details .textBox-SwellingPlus__description p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #64533d;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-SwellingPlus__usefulness {
  margin-top: 30px;
}

.merchandisesList__merchandise--details .textBox-SwellingPlus__usefulness--box {
  background: #c28356;
  width: 54px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-SwellingPlus__usefulness--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-SwellingPlus__usefulness p.main-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-ConditioningMilk {
  width: 710px;
  background: url("../home_image/merchandises/ConditioningMilk-textBox.png") no-repeat;
  margin-top: 10px;
  margin-left: -20px;
  padding: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--details .textBox-ConditioningMilk__description {
  width: 600px;
}

.merchandisesList__merchandise--details .textBox-ConditioningMilk__description p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #64533d;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-ConditioningMilk__usefulness {
  margin-top: 30px;
}

.merchandisesList__merchandise--details .textBox-ConditioningMilk__usefulness--box {
  background: #c28356;
  width: 54px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-ConditioningMilk__usefulness--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-ConditioningMilk__usefulness p.main-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-Rescuem {
  width: 710px;
  background: url("../home_image/merchandises/Rescuem-textBox.png") no-repeat;
  margin-top: 10px;
  margin-left: -20px;
  padding: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--details .textBox-Rescuem__description {
  width: 592px;
}

.merchandisesList__merchandise--details .textBox-Rescuem__description p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #64533d;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-Rescuem__usefulness {
  margin-top: 30px;
  position: relative;
  /*注意書き部分*/
}

.merchandisesList__merchandise--details .textBox-Rescuem__usefulness--box {
  background: #c28356;
  width: 54px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-Rescuem__usefulness--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-Rescuem__usefulness p.main-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-Rescuem__usefulness::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '※店頭販売可能商品';
  color: #64533d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  position: absolute;
  top: 47px;
  left: 455px;
}

.merchandisesList__merchandise--details .textBox-WhitySerum {
  width: 710px;
  background: url("../home_image/merchandises/WhitySerum-textBox.png") no-repeat;
  margin-top: 10px;
  margin-left: -20px;
  padding: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--details .textBox-WhitySerum__description {
  width: 592px;
}

.merchandisesList__merchandise--details .textBox-WhitySerum__description p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #64533d;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-WhitySerum__usefulness {
  margin-top: 30px;
  position: relative;
  /*注意書き部分*/
}

.merchandisesList__merchandise--details .textBox-WhitySerum__usefulness--box {
  background: #c28356;
  width: 54px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-WhitySerum__usefulness--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-WhitySerum__usefulness p.main-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-WhitySerum__usefulness::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '※店頭販売可能商品';
  color: #64533d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  position: absolute;
  top: 47px;
  left: 455px;
}

.merchandisesList__merchandise--details .textBox-PearlEssence {
  width: 710px;
  background: url("../home_image/merchandises/PearlEssence-textBox.png") no-repeat;
  margin-top: 10px;
  margin-left: -20px;
  padding: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--details .textBox-PearlEssence__description {
  width: 592px;
}

.merchandisesList__merchandise--details .textBox-PearlEssence__description p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #64533d;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-PearlEssence__usefulness {
  margin-top: 30px;
  position: relative;
  /*注意書き部分*/
}

.merchandisesList__merchandise--details .textBox-PearlEssence__usefulness--box {
  background: #c28356;
  width: 54px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-PearlEssence__usefulness--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-PearlEssence__usefulness p.main-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-PearlEssence__usefulness::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '※店頭販売可能商品';
  color: #64533d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  position: absolute;
  top: 47px;
  left: 455px;
}

.merchandisesList__merchandise--details .textBox-DelicateWash {
  width: 710px;
  background: url("../home_image/merchandises/DelicateWash-textBox.png") no-repeat;
  margin-top: 10px;
  margin-left: -20px;
  padding: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchandisesList__merchandise--details .textBox-DelicateWash__description {
  width: 592px;
}

.merchandisesList__merchandise--details .textBox-DelicateWash__description p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #64533d;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-DelicateWash__usefulness {
  margin-top: 30px;
  position: relative;
  /*注意書き部分*/
}

.merchandisesList__merchandise--details .textBox-DelicateWash__usefulness--box {
  background: #c28356;
  width: 54px;
  height: 30px;
  margin-bottom: 9px;
}

.merchandisesList__merchandise--details .textBox-DelicateWash__usefulness--box p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #fff;
  padding: 8px 0 8px 0;
  text-align: center;
}

.merchandisesList__merchandise--details .textBox-DelicateWash__usefulness p.main-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  letter-spacing: 1.7px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}

.merchandisesList__merchandise--details .textBox-DelicateWash__usefulness::after {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  content: '※店頭販売可能商品';
  color: #64533d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  position: absolute;
  top: 47px;
  left: 455px;
}

.merchandisesList__merchandise:last-of-type {
  padding-bottom: 70px;
}

.merchandisesList__bottomInquiry {
  margin-top: 300px;
}

.merchandisesList__bottomInquiry--ContactToMail {
  height: 60px;
  width: 351px;
  margin: 0 auto 0 auto;
  margin-top: calc(207 / 1400 * (-100%));
  border: 2px solid #2b757e;
  border-radius: 30px;
  background: linear-gradient(-30deg, #4698a2 20%, #7bd8e4 40%, #7bd8e4 60%, #4698a2 80%, #4698a2);
  position: relative;
  z-index: 3;
}

.merchandisesList__bottomInquiry--ContactToMail .btn {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  padding: 17px 0 17px 0;
  font-size: 24px;
  letter-spacing: normal;
  font-weight: 600;
  text-shadow: 3px 3px 10px #418892;
  border-top: 2px solid #90ccd3;
  border-left: 2px solid #90ccd3;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.merchandisesList__bottomInquiry--ContactToMail .btn .mailBox {
  padding-left: 20px;
  padding-right: 7px;
}

.merchandisesList__bottomInquiry--ContactToMail:hover {
  opacity: 0.7;
}

.merchandisesList__bottomInquiry .fundColor {
  height: 60px;
  width: 351px;
  margin: -60px auto 0 auto;
  border-radius: 30px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.merchandisesList__bottomInquiry--ContactToPhone {
  width: calc(470 / 1400 * 100%);
  margin: 0 auto 0 auto;
  margin-top: calc(40 / 1400 * 100%);
  padding-bottom: calc(97 / 1400 * 100%);
}

.merchandisesList__bottomInquiry--ContactToPhone img {
  width: 100%;
}

.about-donyuKosyu {
  width: 100%;
  background: url("../home_image/footImage/footImage1.png") center center/cover no-repeat;
  padding: 80px 0 107px 0;
  position: relative;
  z-index: 0;
}

.about-donyuKosyu h2 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 56px;
  font-weight: 600;
  color: #841d08;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
  text-align: right;
  letter-spacing: 6px;
  padding-right: calc(90 / 1400 * 100%);
}

.about-donyuKosyu h3 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 32px;
  font-weight: normal;
  color: #841d08;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
  text-align: right;
  letter-spacing: 0px;
  padding-right: calc(96 / 1400 * 100%);
  margin-top: 38px;
}

.about-donyuKosyu__textBox {
  width: 610px;
  float: right;
  padding-right: calc(66 / 1400 * 100%);
  margin-top: 62px;
}

.about-donyuKosyu__textBox p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 20px;
  font-weight: normal;
  color: #64533d;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
  text-align: center;
  letter-spacing: 0px;
  line-height: 32px;
}

.about-donyuKosyu__btn::before {
  content: ' ';
  background-color: #fff;
  border-radius: 26.5px;
  width: 325px;
  height: 61px;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
}

.about-donyuKosyu__btn {
  width: 325px;
  height: 61px;
  border-radius: 28.5px;
  border-top: 2px solid #a75d4e;
  border-left: 2px solid #a75d4e;
  margin-top: 192px;
  margin-left: calc(868 / 1400 * 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 1401px) {
  .about-donyuKosyu__btn {
    margin: 0 0 0 auto;
    margin-top: 192px;
    margin-right: 220px;
  }
}

.about-donyuKosyu__btn a {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  display: block;
  background-color: #841d08;
  padding: 15px 57px 18px 57px;
  width: 209px;
  border-bottom: 2px solid #5e1506;
  border-radius: 26.5px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.about-donyuKosyu__btn a:hover {
  opacity: 0.7;
}

.tsuyari-hope {
  width: 100%;
  background: url("../home_image/footImage/footImage2.png") center center/cover no-repeat;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  padding: 100px 0 100px 0;
}

.tsuyari-hope h2 {
  color: #fff;
  font-size: 46px;
  font-weight: normal;
  letter-spacing: 5px;
  text-align: center;
}

.tsuyari-hope__textBox {
  width: 861px;
  margin: 0 auto 0 auto;
  margin-top: 60px;
}

.tsuyari-hope__textBox p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 32px;
}

/*footer部分*/
/*フッター部分*/
.footImage {
  width: 100%;
  background: url("../kosyu/kosyu_image/footImage/footImage-background.png") center center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.footImage__title {
  width: calc(795 / 1400 * 100%);
  /*画面幅に対して要素を調整*/
  margin: 0 auto;
  padding-top: calc(70 / 1400 * 100%);
  /*画面幅に対して要素の位置を調整*/
}

.footImage__title img {
  width: 100%;
}

.footImage__merchandises {
  width: calc(873 / 1400 * 100%);
  margin: 0 auto 0 auto;
  margin-top: calc(98 / 1400 * (-100%));
}

.footImage__merchandises img {
  width: 100%;
}

.footImage__contactToMail {
  height: 60px;
  width: 351px;
  margin: 0 auto 0 auto;
  margin-top: calc(207 / 1400 * (-100%));
  border: 2px solid #2b757e;
  border-radius: 30px;
  background: linear-gradient(-30deg, #4698a2 20%, #7bd8e4 40%, #7bd8e4 60%, #4698a2 80%, #4698a2);
  position: relative;
  z-index: 3;
}

.footImage__contactToMail--btn {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  padding: 17px 0 17px 0;
  font-size: 24px;
  letter-spacing: normal;
  font-weight: 600;
  text-shadow: 3px 3px 10px #418892;
  border-top: 2px solid #90ccd3;
  border-left: 2px solid #90ccd3;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footImage__contactToMail--btn .mailBox {
  padding-left: 20px;
  padding-right: 7px;
}

.footImage__contactToMail:hover {
  opacity: 0.7;
}

.footImage .fundColor {
  height: 60px;
  width: 351px;
  margin: -60px auto 0 auto;
  border-radius: 30px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.footImage__contactToPhone {
  width: calc(470 / 1400 * 100%);
  margin: 0 auto 0 auto;
  margin-top: calc(40 / 1400 * 100%);
  padding-bottom: calc(97 / 1400 * 100%);
}

.footImage__contactToPhone img {
  width: 100%;
}

.footer-wrapper1 {
  height: 140px;
}

.footer-wrapper1__nav {
  width: 325px;
  margin: 0 auto 0 auto;
}

.footer-wrapper1__nav .list-header-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrapper1__nav .list-header-nav a {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-decoration: none;
  font-size: 16px;
  color: #64533d;
  display: block;
  margin: 62px 40px 62px 0;
  letter-spacing: normal;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer-wrapper1__nav .list-header-nav a:hover {
  opacity: 0.6;
}

.footer-wrapper1__nav .list-header-nav a.last {
  margin-right: 0;
}

.footer-wrapper2 {
  width: 100%;
  height: 265px;
  background: url("../kosyu/kosyu_image/backgroundFooter.png") center center/cover no-repeat;
  position: relative;
}

.footer-wrapper2 .pageTop {
  position: absolute;
  top: 108px;
  right: 40px;
}

.footer-wrapper2 .pageTop__text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  margin-top: 5px;
  font-size: 10px;
  color: #64533d;
  letter-spacing: normal;
  font-weight: 600;
  position: relative;
  right: 1px;
}

.footer-wrapper2 .pageTop a:hover {
  opacity: 0.8;
}

.footer-wrapper2__logo {
  width: 380px;
  margin: 0 auto 25px auto;
  padding-top: 20px;
}

.footer-wrapper2__address p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  text-align: center;
  line-height: 24px;
}

.footer-wrapper2__copyright {
  margin-top: 20px;
}

.footer-wrapper2__copyright p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 10px;
  color: #64533d;
  text-align: center;
}

.hamburgermenu {
  display: none;
}

/*フェードイン*/
.simple-fadeIn {
  opacity: 0;
  -webkit-transition: all 1.5s 0s ease-in;
  transition: all 1.5s 0s ease-in;
}

.slide-bottom {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1.3s 0s ease-in-out;
  transition: all 1.3s 0s ease-in-out;
}
/*# sourceMappingURL=home_pc.css.map */