/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*メイン*/
body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    width: 100%;
    letter-spacing: 2px;
}
/*header部分*/
.header-wrapper {
    width: 100%;
    height: 80px;
    background: #fff;
    opacity: 0.9;
    position: fixed;
    z-index: 10;
    &__logo {
        height: 70px;
        margin-top: 3px;
        margin-left: 20px;
        display: inline-block;
    }
    &__nav {
        float: right;
        .list-header-nav {
            list-style: none;
            display: flex;
            a {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                text-decoration: none;
                font-size: 16px;
                color: #64533d;
                display: block;
                margin-top: 33px;
                margin-right: 40px;
                letter-spacing: normal;
                transition: 300ms;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    &__hamburger-menu {
        display: none;
    }
}
/*main部分*/
.topImages {
    width: 100%;
    .topImage1 {
        img {
            display: block;
            width: 100%;
            padding-top: 80px;
        }
    }
    .topImage2 {
        img {
            display: block;
            width: 100%;
        }
    }
    .topImage3 {
        img {
            display: block;
            width: 100%;
        }
    }
    .topImage4 {
        img {
            display: block;
            width: 100%;
        }
    }
    img.sp {
        display: none;
    }
}
.inner-wrapper {
    width: 100%;
    background: url("../home_image/background_main.png") center center / cover no-repeat;
}
.merchandisesList {
    width: 90%;
    padding-top: 100px;
    margin: 0 auto;
    &__logo {
        width: calc(360 / 1400 * 100%);
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    &__titleText {
        min-width: 526px;
        margin: 0 auto;
        padding-top: 101px;
        h2 {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 3.3vw;
            font-weight: normal;
            color: #64533d;
            letter-spacing: 4px;
            text-align: center;
        }
        &--underShape {
            width: 224px;
            margin: 0 auto;
            padding-top: 20px;
            img {
                width: 100%;
            }
        }
    }
    &__merchandise {
        display: flex;
        //width: 1300px;
        //width: calc(1300 / 1400 * 100%);
        width: 100%;
        margin: 125px auto 0 auto;
        &--image-Copal {
            width: 40%;
            //width: 540px;
            //margin-right: 40px;
            margin-top: 5%;
            img.Copal {
                width: 90%;
            }
        }
        &--image-Umber {
            //width: 540px;
            //margin-right: 40px;
            width: 40%;
            margin-top: 5%;
            img.Umber {
                width: 90%;
            }
        }
        &--image-SkinCleaner {
            width: 40%;
            padding-left: 5%;
            box-sizing: border-box;
            img.SkinCleaner {
                width: 60%;
            }
        }
        &--image-SwellingPlus {
            width: 40%;
            padding-left: 5%;
            box-sizing: border-box;
            img.SwellingPlus {
                width: 60%;
            }
        }
        &--image-ConditioningMilk {
            width: 40%;
            padding-left: 5%;
            box-sizing: border-box;
            img.ConditioningMilk {
                width: 60%;
            }
        }
        &--image-Rescuem {
            width: 40%;
            padding-top: 10%;
            padding-left: 5%;
            box-sizing: border-box;
            img.Rescuem {
                width: 75%;
            }
        }
        &--image-WhitySerum {
            width: 40%;
            padding-top: 10%;
            padding-left: 5%;
            box-sizing: border-box;
            img.WhitySerum {
                width: 75%;
            }
        }
        &--image-PearlEssence {
            width: 40%;
            padding-left: 5%;
            box-sizing: border-box;
            img.PearlEssence {
                width: 60%;
            }
        }
        &--image-DelicateWash {
            width: 40%;
            padding-left: 6%;
            box-sizing: border-box;
            img.DelicateWash {
                width: 60%;
            }
        }
        &--details {
            width: calc(660 / 1209 * 105%);
            /*それぞれの商品名と容量の部分*/
            .name-Copal {
                margin-left: -20px;
                position: relative;
                img.Copal {
                    width: 70%;
                }
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量800g';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 110px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 35%;
                    right: 1%;
                }
            }
            .name-Umber {
                margin-left: -20px;
                margin-bottom: 10px;
                position: relative;
                img.Umber {
                    width: 70%;
                }
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量800g';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 110px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 45%;
                    right: 1%;
                }
            }
            .name-SkinCleaner {
                margin-left: -20px;
                margin-bottom: 10px;
                position: relative;
                img.SkinCleaner {
                    width: 70%;
                }
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量300ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 35%;
                    right: -2%;
                }
            }
            .name-SwellingPlus {
                margin-left: -20px;
                position: relative;
                img.SwellingPlus {
                    width: 70%;
                }
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量300ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 30%;
                    right: -2%;
                }
            }
            .name-ConditioningMilk {
                margin-left: -20px;
                position: relative;
                img.ConditioningMilk {
                    width: 70%;
                }
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量300ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 20%;
                    right: -5%;
                }
            }
            .name-Rescuem {
                margin-left: -20px;
                margin-bottom: 10px;
                position: relative;
                img.Rescuem {
                    width: 70%;
                }
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量30g';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 100px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 45%;
                    right: 3%;
                }
            }
            .name-WhitySerum {
                margin-left: -20px;
                position: relative;
                img.WhitySerum {
                    width: 70%;
                }
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量50g';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 100px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 35%;
                    right: 3%;
                }
            }
            .name-PearlEssence {
                margin-left: -20px;
                margin-bottom: 10px;
                position: relative;
                img.PearlEssence {
                    width: 70%;
                }
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量100ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 35%;
                    right: -2%;
                }
            }
            .name-DelicateWash {
                margin-left: -20px;
                margin-bottom: 15px;
                position: relative;
                img.DelicateWash {
                    width: 70%;
                }
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量150ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 35%;
                    right: -2%;
                }
            }
            /*商品の種類名*/
            .kindName {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                //width: 623px;
                width: 100%;
                max-height: 62px;
                background: linear-gradient(120deg, #9e8151, #dbc5a1 21%, #9e8151 51%, rgba(219, 197, 161, 0) 90%);
                padding: 13px 0px 13px 23px;
                h2 {
                    color: #fff;
                    //font-size: 36px;
                    font-size: 29px;
                    font-weight: normal;
                }
            }
            /*Copal*/
            .textBox-Copal-wrapper {
                //width: 710px;
                width: 105%;
                //height: 75%;
                height: 75%;
                background: url('../home_image/merchandises/Copal-textBox.png') left top / contain no-repeat;
                margin-top: 10px;
                margin-left: -10px;
                .textBox-Copal {
                    //padding: 30px 40px 30px 40px;
                    //padding: 10% 10% 10% 0%;
                    /*padding-top: 10%;
                    padding-right: 10%;
                    padding-left: 50px;*/
                    padding: 8% 8% 0 8%;
                    box-sizing: border-box;
                    &__description {
                        //width: 592px;
                        width: 100%;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            color: #64533d;
                            //font-size: 16px;
                            font-size: 12px;
                            letter-spacing: 2.1px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                    &__usageType {
                        //margin-top: 30px;
                        margin-top: calc(15 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 95px;
                            height: 25px;
                            margin-bottom: 9px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        p.main-text {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 12px;
                            color: #64533d;
                            letter-spacing: 0.8px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                    &__features {
                        //margin-top: 30px;
                        margin-top: calc(15 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 50px;
                            height: 25px;
                            margin-bottom: 9px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        ul.main-text {
                            list-style: none;
                            li {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 12px;
                                color: #64533d;
                                letter-spacing: 0.8px;
                                font-weight: 600;
                                line-height: 16px;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
            /*Umber*/
            .textBox-Umber-wrapper {
                //width: 710px;
                width: 105%;
                //height: 75%;
                height: 75%;
                background: url('../home_image/merchandises/Umber-textBox.png') left top / contain no-repeat;
                margin-top: 10px;
                margin-left: -10px;
                .textBox-Umber {
                    //padding: 30px 40px 30px 40px;
                    //padding: 10% 10% 10% 0%;
                    /*padding-top: 10%;
                    padding-right: 10%;
                    padding-left: 50px;*/
                    padding: 8% 8% 0 8%;
                    box-sizing: border-box;
                    &__description {
                        //width: 592px;
                        width: 100%;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            color: #64533d;
                            //font-size: 16px;
                            font-size: 12px;
                            letter-spacing: 2.1px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                    &__usageType {
                        //margin-top: 30px;
                        margin-top: calc(15 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 95px;
                            height: 25px;
                            margin-bottom: 9px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        p.main-text {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 12px;
                            color: #64533d;
                            letter-spacing: 0.8px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                    &__features {
                        //margin-top: 30px;
                        margin-top: calc(15 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 50px;
                            height: 25px;
                            margin-bottom: 9px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        ul.main-text {
                            list-style: none;
                            li {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 12px;
                                color: #64533d;
                                letter-spacing: 0.8px;
                                font-weight: 600;
                                line-height: 16px;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
            /*SkinCleaner*/
            .textBox-SkinCleaner-wrapper {
                width: 105%;
                height: 75%;
                background: url('../home_image/merchandises/SkinCleaner-textBox.png') left top / contain no-repeat;
                margin-top: 10px;
                margin-left: -10px;
                .textBox-SkinCleaner {
                    padding: 8% 8% 0 8%;
                    box-sizing: border-box;
                    &__description {
                        width: 100%;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            color: #64533d;
                            font-size: 12px;
                            letter-spacing: 1.7px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                    &__usefulness {
                        margin-top: calc(15 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 50px;
                            height: 25px;
                            margin-bottom: 9px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        p.main-text {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 12px;
                            color: #64533d;
                            letter-spacing: 0.8px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                }
            }
            /*SwellingPlus*/
            .textBox-SwellingPlus-wrapper {
                width: 105%;
                height: 75%;
                background: url('../home_image/merchandises/SwellingPlus-textBox.png') left top / contain no-repeat;
                margin-top: 10px;
                margin-left: -10px;
                .textBox-SwellingPlus {
                    padding: 8% 8% 0 8%;
                    box-sizing: border-box;
                    &__description {
                        width: 100%;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            color: #64533d;
                            font-size: 12px;
                            letter-spacing: 1.7px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                    &__usefulness {
                        margin-top: calc(15 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 50px;
                            height: 25px;
                            margin-bottom: 9px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        p.main-text {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 12px;
                            color: #64533d;
                            letter-spacing: 0.8px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                }
            }
            /*ConditioningMilk*/
            .textBox-ConditioningMilk-wrapper {
                width: 105%;
                height: 75%;
                background: url('../home_image/merchandises/ConditioningMilk-textBox.png') left top / contain no-repeat;
                margin-top: 10px;
                margin-left: -10px;
                .textBox-ConditioningMilk {
                    padding: 8% 8% 0 8%;
                    box-sizing: border-box;
                    &__description {
                        width: 100%;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            color: #64533d;
                            font-size: 12px;
                            letter-spacing: 1.7px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                    &__usefulness {
                        margin-top: calc(15 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 50px;
                            height: 25px;
                            margin-bottom: 9px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        p.main-text {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 12px;
                            color: #64533d;
                            letter-spacing: 0.8px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                }
            }
            /*Rescuem*/
            .textBox-Rescuem-wrapper {
                width: 105%;
                height: 75%;
                background: url('../home_image/merchandises/Rescuem-textBox.png') left top / contain no-repeat;
                margin-top: 10px;
                margin-left: -10px;
                .textBox-Rescuem {
                    padding: 8% 8% 0 8%;
                    box-sizing: border-box;
                    &__description {
                        width: 100%;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            color: #64533d;
                            font-size: 12px;
                            letter-spacing: 1.7px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                    &__usefulness {
                        margin-top: calc(15 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 50px;
                            height: 25px;
                            margin-bottom: 9px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        p.main-text {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 12px;
                            color: #64533d;
                            letter-spacing: 0.8px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                }
            }
            /*WhitySerum*/
            .textBox-WhitySerum-wrapper {
                width: 105%;
                height: 85%;
                background: url('../home_image/merchandises/WhitySerum-textBox.png') left top / contain no-repeat;
                margin-top: 10px;
                margin-left: -10px;
                margin-bottom: 100px;
                .textBox-WhitySerum {
                    //padding: 8% 10% 0 10%;
                    padding: 8% 8% 0 8%;
                    box-sizing: border-box;
                    &__description {
                        width: 100%;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            color: #64533d;
                            font-size: 12px;
                            letter-spacing: 1.7px;
                            font-weight: 600;
                            line-height: 16px;
                            opacity: 0.7;
                        }
                    }
                    &__usefulness {
                        margin-top: calc(15 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 50px;
                            height: 25px;
                            margin-bottom: 9px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        p.main-text {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 12px;
                            color: #64533d;
                            letter-spacing: 0.8px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                }
            }
            /*PearlEssence*/
            .textBox-PearlEssence-wrapper {
                width: 105%;
                height: 75%;
                background: url('../home_image/merchandises/PearlEssence-textBox.png') left top / contain no-repeat;
                margin-top: 10px;
                margin-left: -10px;
                .textBox-PearlEssence {
                    padding: 8% 8% 0 8%;
                    box-sizing: border-box;
                    &__description {
                        width: 100%;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            color: #64533d;
                            font-size: 12px;
                            letter-spacing: 1.7px;
                            font-weight: 600;
                            line-height: 16px;
                            opacity: 0.7;
                        }
                    }
                    &__usefulness {
                        margin-top: calc(10 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 50px;
                            height: 25px;
                            margin-bottom: 8px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        p.main-text {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 12px;
                            color: #64533d;
                            letter-spacing: 0.8px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                }
            }
            /*FabulousShot*//*
            .textBox-FabulousShot {
            }*/
            /*DelicateWash*/
            .textBox-DelicateWash-wrapper {
                width: 105%;
                height: 75%;
                background: url('../home_image/merchandises/DelicateWash-textBox.png') left top / contain no-repeat;
                margin-top: 10px;
                margin-left: -10px;
                .textBox-DelicateWash {
                    padding: 8% 8% 0 8%;
                    box-sizing: border-box;
                    &__description {
                        width: 100%;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            color: #64533d;
                            font-size: 12px;
                            letter-spacing: 1.7px;
                            font-weight: 600;
                            line-height: 16px;
                            opacity: 0.7;
                        }
                    }
                    &__usefulness {
                        margin-top: calc(10 / 330 * 100%);
                        &--box {
                            background: #c28356;
                            width: 50px;
                            height: 25px;
                            margin-bottom: 8px;
                            p {
                                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                                font-size: 14px;
                                color: #fff;
                                padding-top: 6px;
                                text-align: center;
                            }
                        }
                        p.main-text {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 12px;
                            color: #64533d;
                            letter-spacing: 0.8px;
                            font-weight: 600;
                            line-height: 14px;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
        /*DelicateWashの下の余白*/
        &:last-of-type {
            padding-bottom: 70px;
        }
    }
    /*お問い合わせボタンとTEL*/
    &__bottomInquiry {
        margin-top: 300px;
        &--ContactToMail {
            height: 60px;
            width: 351px;
            margin: 0 auto 0 auto;
            margin-top: calc(207 / 1400 * (-100%));
            border: 2px solid #2b757e;
            border-radius: 30px;
            background: linear-gradient(-30deg, #4698a2 20%, #7bd8e4 40%, #7bd8e4 60%, #4698a2 80%, #4698a2);
            position: relative;
            z-index: 3;
            .btn {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                text-decoration: none;
                color: #fff;
                display: block;
                text-align: center;
                padding: 17px 0 17px 0;
                font-size: 24px;
                letter-spacing: normal;
                font-weight: 600;
                text-shadow: 3px 3px 10px #418892;
                border-top: 2px solid #90ccd3;
                border-left: 2px solid #90ccd3;
                border-radius: 30px;
                display: flex;
                .mailBox {
                    padding-left: 20px;
                    padding-right: 7px;
                }
            }
            &:hover {
                opacity: 0.7;
            }
        }
        .fundColor {
            height: 60px;
            width: 351px;
            margin: -60px auto 0 auto;
            border-radius: 30px;
            background: #fff;
            position: relative;
            z-index: 2;
        }
        &--ContactToPhone {
            width: calc(470 / 1400 * 100%);
            margin: 0 auto 0 auto;
            margin-top: calc(40 / 1400 * 100%);
            padding-bottom: calc(97 / 1400 * 100%);
            img {
                width: 100%;
            }
        }
    }
}
.about-donyuKosyu {
    width: 100%;
    height: calc(544 / 1400 * 100vw);
    background: url('../home_image/footImage/footImage1.png') top center / contain no-repeat;
    /*position: relative;
    //z-indexの値をマイナスにするとaタグのhoverが効かなくなる
    z-index: 0;*/
    h2 {
        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
        //font-size: 56px;
        //font-size: calc(112.5% + 0.5vw);
        font-size: 4vw;
        font-weight: 600;
        color: #841d08;
        text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
        text-align: right;
        letter-spacing: 6px;
        padding-right: calc(90 / 1400 * 100vw); 
        padding-top: calc(80 / 1400 * 100vw);
    }
    h3 {
        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
        font-size: 2.4vw;
        font-weight: normal;
        color: #841d08;
        text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
        text-align: right;
        letter-spacing: 0px;
        padding-right: calc(96 / 1400 * 100vw);
        margin-top: 38px;
    }
    &__textBox {
        width: calc(610 / 1400 * 100vw);
        margin: 0 0 0 auto;
        padding-right: calc(66 / 1400 * 100vw);
        margin-top: calc(62 / 1400 * 100vw);
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 1.4vw;
            font-weight: normal;
            color: #64533d;
            text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
            text-align: center;
            letter-spacing: 0px;
            line-height: calc(32 / 1400 * 100vw);
        }
    }
    &__btn::before {
        content: ' ';
        background-color: #fff;
        border-radius: calc(27 /1400 * 100vw);
        width: calc(324 / 1400 * 100vw);
        height: calc(61 / 1400 * 100vw);
        position: absolute;
        top: -2px;
        left: -1px;
        z-index: -1;
    }
    &__btn {
        width: calc(325 / 1400 * 100vw);
        height: calc(61 / 1400 * 100vw);
        border-radius: calc(28.5 / 1400 * 100vw);
        border-top: 2px solid #a75d4e;
        border-left: 2px solid #a75d4e;
        margin: 0 0 0 auto;
        margin-top: calc(40 / 1400 * 100vw);
        margin-right: calc(207 / 1400 * 100vw);
        box-sizing: border-box;
        position: relative;
        a {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            color: #fff;
            font-size: 1.7vw;
            white-space: nowrap;
            text-decoration: none;
            display: block;
            background-color: #841d08;
            padding: calc(16 / 1400 * 100vw) calc(58 / 1400 * 100vw);
            //width: 209px;
            border-bottom: 2px solid #5e1506;
            border-radius: calc(25 / 1400 * 100vw);
            transition: 200ms;
        }
        a:hover {
            opacity: 0.7;
        }
    }
}
.tsuyari-hope {
    display: block;
    width: 100%;
    height: calc(799 / 1400 * 100vw);
    background: url('../home_image/footImage/footImage2.png') top center / contain no-repeat;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    //padding: 100px 0 100px 0;
    //padding-top: calc(100 / 1400 * 100vw);
    //padding-bottom: calc(100 / 1400 * 100vw);
    h2 {
        color: #fff;
        font-size: 3.3vw;
        font-weight: normal;
        letter-spacing: calc(5 / 1400 * 100vw);
        text-align: center;
        padding-top: calc(100 / 1400 * 100vw);
    }
    &__textBox {
        width: calc(861 / 1400 * 100vw);
        margin: 0 auto 0 auto;
        margin-top: calc(60 / 1400 * 100vw);
        padding-bottom: calc(100 / 1400 * 100vw);
        p {
            color: #fff;
            font-size: 1.43vw;
            text-align: center;
            letter-spacing: calc(0.5 / 1400 * 100vw);
            line-height: calc(32 / 1400 * 100vw);
        }
    }
}
/*footer部分*/
/*フッター部分*/
.footImage {
    width: 100%;
    background: url("../kosyu/kosyu_image/footImage/footImage-background.png") center center / cover no-repeat;
    position: relative;
    z-index: 1;
    &__title {
        width: calc(795 / 1400 * 100%); /*画面幅に対して要素を調整*/
        margin: 0 auto;
        padding-top: calc(70 / 1400 * 100%); /*画面幅に対して要素の位置を調整*/
        img {
            width: 100%;
        }
    }
    &__merchandises {
        width: calc(873 / 1400 * 100%);
        margin: 0 auto 0 auto;
        margin-top: calc(98 / 1400 * (-100%));
        img {
            width: 100%;
        }
    }
    &__contactToMail {
        height: 60px;
        width: 351px;
        margin: 0 auto 0 auto;
        margin-top: calc(207 / 1400 * (-100%));
        border: 2px solid #2b757e;
        border-radius: 30px;
        background: linear-gradient(-30deg, #4698a2 20%, #7bd8e4 40%, #7bd8e4 60%, #4698a2 80%, #4698a2);
        position: relative;
        z-index: 3;
        &--btn {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            text-decoration: none;
            color: #fff;
            display: block;
            text-align: center;
            padding: 17px 0 17px 0;
            font-size: 24px;
            letter-spacing: normal;
            font-weight: 600;
            text-shadow: 3px 3px 10px #418892;
            border-top: 2px solid #90ccd3;
            border-left: 2px solid #90ccd3;
            border-radius: 30px;
            display: flex;
            .mailBox {
                padding-left: 20px;
                padding-right: 7px;
            }
        }
        &:hover {
            opacity: 0.7;
        }
    }
    .fundColor {
        height: 60px;
        width: 351px;
        margin: -60px auto 0 auto;
        border-radius: 30px;
        background: #fff;
        position: relative;
        z-index: 2;
    }
    &__contactToPhone {
        width: calc(470 / 1400 * 100%);
        margin: 0 auto 0 auto;
        margin-top: calc(40 / 1400 * 100%);
        padding-bottom: calc(97 / 1400 * 100%);
        img {
            width: 100%;
        }
    }
}
.footer-wrapper1 {
    height: 140px;
    &__nav {
        width: 325px;
        margin: 0 auto 0 auto;
        .list-header-nav {
            list-style: none;
            display: flex;
            a {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                text-decoration: none;
                font-size: 16px;
                color: #64533d;
                display: block;
                margin: 62px 40px 62px 0;
                letter-spacing: normal;
                transition: 300ms;
                &:hover {
                    opacity: 0.6;
                }
            }
            a.last {
                margin-right: 0;
            }
        }
    }
}
.footer-wrapper2 {
    width: 100%;
    height: 265px;
    background: url("../kosyu/kosyu_image/backgroundFooter.png") center center / cover no-repeat;
    position: relative;
    .pageTop {
        position: absolute;
        top: 108px;
        right: 40px;
        &__text {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            margin-top: 5px;
            font-size: 10px;
            color: #64533d;
            letter-spacing: normal;
            font-weight: 600;
            position: relative;
            right: 1px;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    &__logo {
        width: 380px;
        margin: 0 auto 25px auto;
        padding-top: 20px;
    }
    &__address {
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 16px;
            color: #312b24;
            text-align: center;
            line-height: 24px;
        }
    }
    &__copyright {
        margin-top: 20px;
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 10px;
            color: #64533d;
            text-align: center;
        }
    }
}
.hamburgermenu {
    display: none;
}
/*フェードイン*/
//シンプルなフェードイン
.simple-fadeIn {
    opacity: 0;
    transition: all 1.5s 0s ease-in;
 }
//この部分とjQueryでスクロールフェードイン
.slide-bottom {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.3s 0s ease-in-out;
}