/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*メイン*/

/*レスポンシブ（要相談）*/
//@media (max-width: ){

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    width: 100%;
    letter-spacing: 2px;
}
/*header部分*/
.header-wrapper {
    width: 100%;
    height: 80px;
    background: #fff;
    opacity: 0.9;
    position: fixed;
    z-index: 10;
    &--logo {
        width: 236px;
        height: 54px;
        margin-left: 40px;
        margin: 13px 0 0 40px;
        display: inline-block;
    }
    &--nav {
        float: right;
        .list-header-nav {
            list-style: none;
            display: flex;
            a {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                text-decoration: none;
                font-size: 16px;
                color: #64533d;
                display: block;
                margin-top: 33px;
                margin-right: 40px;
                letter-spacing: normal;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}
/*main部分*/
.topImages {
    width: 100%;
    .topImage1 {
        img {
            width: 100%;
            padding-top: 80px;
        }
    }
    .topImage2 {
        img {
            width: 100%;
            margin-top: -30px;
        }
    }
    .topImage3 {
        img {
            width: 100%;
            margin-top: -32px;
        }
    }
    .topImage4 {
        img {
            width: 100%;
            margin-top: -3px;
            margin-bottom: -6px;
        }
    }
}
.merchandisesList {
    padding-top: 100px;
    background: url("./home_image/background_main.png") center center / cover no-repeat;
    &__logo {
        width: calc(360 / 1400 * 100%);
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    &__titleText {
        width: calc(526 / 1400 * 100%);
        margin: 0 auto;
        padding-top: 101px;
        h2 {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 46px;
            font-weight: normal;
            color: #64533d;
            letter-spacing: 4px;
        }
        &--underShape {
            width: calc((224 / 1400) * (1400 / 526) * 100%);
            margin: 0 auto;
            padding-top: 20px;
            img {
                width: 100%;
            }
        }
    }
    &__merchandise {
        display: flex;
        //width: calc(1209 / 1400 * 100%);
        //width: calc(1300 / 1400 * 100%);
        width: 1300px;
        margin: 125px auto 0 auto;
        &--image-Copal {
            //width: calc(436 / 1209 * 100%);
            //width: calc(500 / 1209 * 100%);
            width: 540px;
            margin-right: 80px;
            img.Copal {
                width: 100%;
            }
        }
        &--image-Umber {
            width: 540px;
            margin-right: 80px;
            img.Umber {
                width: 100%;
            }
        }
        &--image-SkinCleaner {
            width: 540px;
            margin-right: 80px;
            padding-left: 130px;
            box-sizing: border-box;
            img.SkinCleaner {
                width: 73%;
            }
        }
        &--image-SwellingPlus {
            width: 540px;
            margin-right: 80px;
            padding-left: 130px;
            box-sizing: border-box;
            img.SwellingPlus {
                width: 73%;
            }
        }
        &--image-ConditioningMilk {
            width: 540px;
            margin-right: 80px;
            padding-left: 130px;
            box-sizing: border-box;
            img.ConditioningMilk {
                width: 73%;
            }
        }
        &--image-Rescuem {
            width: 540px;
            margin-top: 105px;
            margin-right: 80px;
            padding-left: 100px;
            box-sizing: border-box;
            img.Rescuem {
                width: 90%;
            }
        }
        &--image-WhitySerum {
            width: 540px;
            margin-top: 175px;
            margin-right: 80px;
            padding-left: 100px;
            box-sizing: border-box;
            img.WhitySerum {
                width: 90%;
            }
        }
        &--image-PearlEssence {
            width: 540px;
            margin-top: -25px;
            margin-right: 80px;
            padding-left: 130px;
            box-sizing: border-box;
            img.PearlEssence {
                width: 73%;
            }
        }
        &--image-DelicateWash {
            width: 540px;
            margin-top: -45px;
            margin-right: 80px;
            padding-left: 145px;
            box-sizing: border-box;
            img.DelicateWash {
                width: 73%;
            }
        }
        &--details {
            width: calc(660 / 1209 * 105%);
            /*.name {
                display: flex;
                width: calc(428 / 1209 * 100%);
                h2 {
                    font-size: 66px;
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    font-weight: normal;
                    background: linear-gradient(117deg, #9e8151, #dbc5a1 20%, #9e8151 51%, #dbc5a1 88%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    span {
                        font-family: 'Snell Roundhand', serif;
                        font-weight: 700;
                        //text-shadow: ;
                        background: linear-gradient(117deg, #9e8151, #dbc5a1 20%, #9e8151 51%, #dbc5a1 88%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                h2.english {
                    font-family: 'Snell Roundhand', serif;
                    font-size: 66px;
                    font-weight: 700;
                    //text-shadow: 5px 5px 5px #000000;
                    background: linear-gradient(117deg, #9e8151, #dbc5a1 20%, #9e8151 51%, #dbc5a1 88%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    box-shadow: 0px 0px #fff;
                }
                h3.japanese {
                    font-size: 36px;
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    font-weight: normal;
                    background: linear-gradient(117deg, #9e8151, #dbc5a1 20%, #9e8151 51%, #dbc5a1 88%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }*/
            /*それぞれの商品名と容量の部分*/
            .name-Copal {
                margin-left: -20px;
                position: relative;
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量800g';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 110px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 40px;
                    left: 475px;
                }
            }
            .name-Umber {
                margin-left: -20px;
                margin-bottom: 10px;
                position: relative;
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量800g';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 110px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 40px;
                    left: 475px;
                }
            }
            .name-SkinCleaner {
                margin-left: -20px;
                margin-bottom: 10px;
                position: relative;
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量300ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 40px;
                    left: 475px;
                }
            }
            .name-SwellingPlus {
                margin-left: -20px;
                position: relative;
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量300ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 40px;
                    left: 480px;
                }
            }
            .name-ConditioningMilk {
                margin-left: -20px;
                position: relative;
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量300ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 40px;
                    left: 620px;
                }
            }
            .name-Rescuem {
                margin-left: -20px;
                margin-bottom: 10px;
                position: relative;
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量30g';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 100px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 40px;
                    left: 480px;
                }
            }
            .name-WhitySerum {
                margin-left: -20px;
                position: relative;
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量50g';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 100px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 40px;
                    left: 480px;
                }
            }
            .name-PearlEssence {
                margin-left: -20px;
                margin-bottom: 10px;
                position: relative;
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量100ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 42px;
                    left: 490px;
                }
            }
            .name-DelicateWash {
                margin-left: -20px;
                margin-bottom: 15px;
                position: relative;
                /*商品の容量部分*/
                &::after {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    content: '容量150ml';
                    font-size: 16px;
                    color: #fff;
                    padding-top: 7px;
                    text-align: center;
                    //widthは商品によって若干変わる
                    width: 120px;
                    height: 28px;
                    background-color: #841d08;
                    border-radius: 14px 14px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 42px;
                    left: 530px;
                }
            }
            /*商品の種類名*/
            .kindName {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                width: 623px;
                max-height: 62px;
                background: linear-gradient(120deg, #9e8151, #dbc5a1 21%, #9e8151 51%, rgba(219, 197, 161, 0) 90%);
                padding: 13px 0px 13px 23px;
                h2 {
                    color: #fff;
                    font-size: 36px;
                    font-weight: normal;
                }
            }
            /*Copal*/
            .textBox-Copal {
                //width: 100%;
                width: 710px;
                //height: calc(475 / 612 * 100%);
                background: url('./home_image/merchandises/Copal-textBox.png') no-repeat;
                margin-top: 10px;
                margin-left: -20px;
                padding: 51px;
                box-sizing: border-box;
                &__description {
                    width: 592px;
                    p {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        color: #64533d;
                        font-size: 16px;
                        letter-spacing: 2.1px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__usageType {
                    margin-top: 30px;
                    &--box {
                        background: #c28356;
                        width: 106px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    p.main-text {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        font-size: 16px;
                        color: #64533d;
                        letter-spacing: 1.7px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__features {
                    margin-top: 30px;
                    &--box {
                        background: #c28356;
                        width: 54px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    ul.main-text {
                        list-style: none;
                        li {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #64533d;
                            letter-spacing: 1.7px;
                            font-weight: 600;
                            line-height: 24px;
                            opacity: 0.7;
                        }
                    }
                }
            }
            /*Umber*/
            .textBox-Umber {
                width: 710px;
                background: url('./home_image/merchandises/Umber-textBox.png') no-repeat;
                margin-top: 10px;
                margin-left: -20px;
                padding: 51px;
                box-sizing: border-box;
                &__description {
                    width: 592px;
                    p {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        color: #64533d;
                        font-size: 16px;
                        letter-spacing: 2.1px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__usageType {
                    margin-top: 30px;
                    &--box {
                        background: #c28356;
                        width: 106px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    p.main-text {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        font-size: 16px;
                        color: #64533d;
                        letter-spacing: 1.7px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__features {
                    margin-top: 30px;
                    &--box {
                        background: #c28356;
                        width: 54px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    ul.main-text {
                        list-style: none;
                        li {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #64533d;
                            letter-spacing: 1.7px;
                            font-weight: 600;
                            line-height: 24px;
                            opacity: 0.7;
                        }
                    }
                }
            }
            /*SkinCleaner*/
            .textBox-SkinCleaner {
                width: 710px;
                background: url('./home_image/merchandises/SkinCleaner-textBox.png') no-repeat;
                margin-top: 10px;
                margin-left: -20px;
                padding: 51px;
                box-sizing: border-box;
                &__description {
                    width: 592px;
                    p {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        color: #64533d;
                        font-size: 16px;
                        letter-spacing: 2.1px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__usefulness {
                    margin-top: 30px;
                    &--box {
                        background: #c28356;
                        width: 54px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    p.main-text {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        font-size: 16px;
                        color: #64533d;
                        letter-spacing: 1.7px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
            }
            /*SwellingPlus*/
            .textBox-SwellingPlus {
                width: 710px;
                background: url('./home_image/merchandises/SwellingPlus-textBox.png') no-repeat;
                margin-top: 10px;
                margin-left: -20px;
                padding: 51px;
                box-sizing: border-box;
                &__description {
                    width: 592px;
                    p {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        color: #64533d;
                        font-size: 16px;
                        letter-spacing: 1.5px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__usefulness {
                    margin-top: 30px;
                    &--box {
                        background: #c28356;
                        width: 54px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    p.main-text {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        font-size: 16px;
                        color: #64533d;
                        letter-spacing: 1.7px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
            }
            /*ConditioningMilk*/
            .textBox-ConditioningMilk {
                width: 710px;
                background: url('./home_image/merchandises/ConditioningMilk-textBox.png') no-repeat;
                margin-top: 10px;
                margin-left: -20px;
                padding: 51px;
                box-sizing: border-box;
                &__description {
                    width: 600px;
                    p {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        color: #64533d;
                        font-size: 16px;
                        letter-spacing: 1.5px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__usefulness {
                    margin-top: 30px;
                    &--box {
                        background: #c28356;
                        width: 54px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    p.main-text {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        font-size: 16px;
                        color: #64533d;
                        letter-spacing: 1.7px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
            }
            /*Rescuem*/
            .textBox-Rescuem {
                width: 710px;
                background: url('./home_image/merchandises/Rescuem-textBox.png') no-repeat;
                margin-top: 10px;
                margin-left: -20px;
                padding: 51px;
                box-sizing: border-box;
                &__description {
                    width: 592px;
                    p {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        color: #64533d;
                        font-size: 16px;
                        letter-spacing: 1.5px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__usefulness {
                    margin-top: 30px;
                    position: relative;
                    &--box {
                        background: #c28356;
                        width: 54px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    p.main-text {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        font-size: 16px;
                        color: #64533d;
                        letter-spacing: 1.7px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                    /*注意書き部分*/
                    &::after {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        content: '※店頭販売可能商品';
                        color: #64533d;
                        font-size: 13px;
                        font-weight: normal;
                        letter-spacing: 1px;
                        position: absolute;
                        top: 47px;
                        left: 455px;
                    }
                }
            }
            /*WhitySerum*/
            .textBox-WhitySerum {
                width: 710px;
                background: url('./home_image/merchandises/WhitySerum-textBox.png') no-repeat;
                margin-top: 10px;
                margin-left: -20px;
                padding: 51px;
                box-sizing: border-box;
                &__description {
                    width: 592px;
                    p {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        color: #64533d;
                        font-size: 16px;
                        letter-spacing: 1.5px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__usefulness {
                    margin-top: 30px;
                    position: relative;
                    &--box {
                        background: #c28356;
                        width: 54px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    p.main-text {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        font-size: 16px;
                        color: #64533d;
                        letter-spacing: 1.7px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                    /*注意書き部分*/
                    &::after {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        content: '※店頭販売可能商品';
                        color: #64533d;
                        font-size: 13px;
                        font-weight: normal;
                        letter-spacing: 1px;
                        position: absolute;
                        top: 47px;
                        left: 455px;
                    }
                }
            }
            /*PearlEssence*/
            .textBox-PearlEssence {
                width: 710px;
                background: url('./home_image/merchandises/PearlEssence-textBox.png') no-repeat;
                margin-top: 10px;
                margin-left: -20px;
                padding: 51px;
                box-sizing: border-box;
                &__description {
                    width: 592px;
                    p {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        color: #64533d;
                        font-size: 16px;
                        letter-spacing: 1.5px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__usefulness {
                    margin-top: 30px;
                    position: relative;
                    &--box {
                        background: #c28356;
                        width: 54px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    p.main-text {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        font-size: 16px;
                        color: #64533d;
                        letter-spacing: 1.7px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                    /*注意書き部分*/
                    &::after {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        content: '※店頭販売可能商品';
                        color: #64533d;
                        font-size: 13px;
                        font-weight: normal;
                        letter-spacing: 1px;
                        position: absolute;
                        top: 47px;
                        left: 455px;
                    }
                }
            }
            /*FabulousShot*//*
            .textBox-FabulousShot {
            }*/
            /*DelicateWash*/
            .textBox-DelicateWash {
                width: 710px;
                background: url('./home_image/merchandises/DelicateWash-textBox.png') no-repeat;
                margin-top: 10px;
                margin-left: -20px;
                padding: 51px;
                box-sizing: border-box;
                &__description {
                    width: 592px;
                    p {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        color: #64533d;
                        font-size: 16px;
                        letter-spacing: 1.5px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                }
                &__usefulness {
                    margin-top: 30px;
                    position: relative;
                    &--box {
                        background: #c28356;
                        width: 54px;
                        height: 30px;
                        margin-bottom: 9px;
                        p {
                            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                            font-size: 16px;
                            color: #fff;
                            padding: 8px 0 8px 0;
                            text-align: center;
                        }
                    }
                    p.main-text {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        font-size: 16px;
                        color: #64533d;
                        letter-spacing: 1.7px;
                        font-weight: 600;
                        line-height: 24px;
                        opacity: 0.7;
                    }
                    /*注意書き部分*/
                    &::after {
                        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                        content: '※店頭販売可能商品';
                        color: #64533d;
                        font-size: 13px;
                        font-weight: normal;
                        letter-spacing: 1px;
                        position: absolute;
                        top: 47px;
                        left: 455px;
                    }
                }
            }
        }
        /*DelicateWashの下の余白*/
        &:last-of-type {
            padding-bottom: 70px;
        }
    }
    /*お問い合わせボタンとTEL*/
    &__bottomInquiry {
        margin-top: 300px;
        &--ContactToMail {
            height: 60px;
            width: 351px;
            margin: 0 auto 0 auto;
            margin-top: calc(207 / 1400 * (-100%));
            border: 2px solid #2b757e;
            border-radius: 30px;
            background: linear-gradient(-30deg, #4698a2 20%, #7bd8e4 40%, #7bd8e4 60%, #4698a2 80%, #4698a2);
            position: relative;
            z-index: 3;
            .btn {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                text-decoration: none;
                color: #fff;
                display: block;
                text-align: center;
                padding: 17px 0 17px 0;
                font-size: 24px;
                letter-spacing: normal;
                font-weight: 600;
                text-shadow: 3px 3px 10px #418892;
                border-top: 2px solid #90ccd3;
                border-left: 2px solid #90ccd3;
                border-radius: 30px;
                .mailBox {
                    padding-right: 7px;
                }
            }
            &:hover {
                opacity: 0.7;
            }
        }
        .fundColor {
            height: 60px;
            width: 351px;
            margin: -60px auto 0 auto;
            border-radius: 30px;
            background: #fff;
            position: relative;
            z-index: 2;
        }
        &--ContactToPhone {
            width: calc(470 / 1400 * 100%);
            margin: 0 auto 0 auto;
            margin-top: calc(40 / 1400 * 100%);
            padding-bottom: calc(97 / 1400 * 100%);
            img {
                width: 100%;
            }
        }
    }
}
.about-donyuKosyu {
    width: 100%;
    background: url('./home_image/footImage/footImage1.png') center center / cover no-repeat;
    padding: 80px 0 107px 0;
    position: relative;
    //z-indexの値をマイナスにするとうまくaタグのhoverが効かなくなる
    z-index: 0;
    h2 {
        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
        font-size: 56px;
        font-weight: 600;
        color: #841d08;
        text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
        text-align: right;
        letter-spacing: 6px;
        padding-right: calc(90 / 1400 * 100%);
    }
    h3 {
        font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
        font-size: 32px;
        font-weight: normal;
        color: #841d08;
        text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
        text-align: right;
        letter-spacing: 0px;
        padding-right: calc(96 / 1400 * 100%);
        margin-top: 38px;
    }
    .textBox {
        width: 610px;
        float: right;
        padding-right: calc(66 / 1400 * 100%);
        margin-top: 62px;
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 20px;
            font-weight: normal;
            color: #64533d;
            text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
            text-align: center;
            letter-spacing: 0px;
            line-height: 32px;
        }
    }
    &__btn::before {
        content: ' ';
        background-color: #fff;
        border-radius: 26.5px;
        width: 325px;
        height: 61px;
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: -1;
    }
    &__btn {
        width: 325px;
        height: 61px;
        border-radius: 28.5px;
        //background-color: #841d08;
        border-top: 2px solid #a75d4e;
        border-left: 2px solid #a75d4e;
        margin-top: 192px;
        margin-left: calc(868 / 1400 * 100%);
        box-sizing: border-box;
        position: relative;
        a {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            color: #fff;
            font-size: 24px;
            text-decoration: none;
            display: block;
            background-color: #841d08;
            padding: 15px 57px 18px 57px;
            width: 209px;
            border-bottom: 2px solid #5e1506;
            border-radius: 26.5px;
        }
        a:hover {
            opacity: 0.7;
        }
    }
}
.tsuyari-hope {
    width: 100%;
    background: url('./home_image/footImage/footImage2.png') center center / cover no-repeat;
}
/*footer部分*/
/*フッター部分*/
.footImage {
    width: 100%;
    background: url("./kosyu_image/footImage/footImage-background.png") center center / cover no-repeat;
    position: relative;
    z-index: 1;
    &__title {
        width: calc(795 / 1400 * 100%); /*画面幅に対して要素を調整*/
        margin: 0 auto;
        padding-top: calc(70 / 1400 * 100%); /*画面幅に対して要素の位置を調整*/
        img {
            width: 100%;
        }
    }
    &__merchandises {
        width: calc(873 / 1400 * 100%);
        margin: 0 auto 0 auto;
        margin-top: calc(98 / 1400 * (-100%));
        img {
            width: 100%;
        }
    }
    &__contactToMail {
        height: 60px;
        width: 351px;
        margin: 0 auto 0 auto;
        margin-top: calc(207 / 1400 * (-100%));
        border: 2px solid #2b757e;
        border-radius: 30px;
        background: linear-gradient(-30deg, #4698a2 20%, #7bd8e4 40%, #7bd8e4 60%, #4698a2 80%, #4698a2);
        position: relative;
        z-index: 3;
        &--btn {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            text-decoration: none;
            color: #fff;
            display: block;
            text-align: center;
            padding: 17px 0 17px 0;
            font-size: 24px;
            letter-spacing: normal;
            font-weight: 600;
            text-shadow: 3px 3px 10px #418892;
            border-top: 2px solid #90ccd3;
            border-left: 2px solid #90ccd3;
            border-radius: 30px;
            .mailBox {
                padding-right: 7px;
            }
        }
        &:hover {
            opacity: 0.7;
        }
    }
    .fundColor {
        height: 60px;
        width: 351px;
        margin: -60px auto 0 auto;
        border-radius: 30px;
        background: #fff;
        position: relative;
        z-index: 2;
    }
    &__contactToPhone {
        width: calc(470 / 1400 * 100%);
        margin: 0 auto 0 auto;
        margin-top: calc(40 / 1400 * 100%);
        padding-bottom: calc(97 / 1400 * 100%);
        img {
            width: 100%;
        }
    }
}
.footer-wrapper1 {
    height: 140px;
    &--nav {
        width: 325px;
        margin: 0 auto 0 auto;
        .list-header-nav {
            list-style: none;
            display: flex;
            a {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                text-decoration: none;
                font-size: 16px;
                color: #64533d;
                display: block;
                margin: 62px 40px 62px 0;
                letter-spacing: normal;
                &:hover {
                    opacity: 0.6;
                }
            }
            a.last {
                margin-right: 0;
            }
        }
    }
}
.footer-wrapper2 {
    height: 265px;
    background: url("./kosyu_image/backgroundFooter.png") center center / cover no-repeat;
    position: relative;
    .pageTop {
        position: absolute;
        top: 108px;
        right: 40px;
        &__text {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            margin-top: 5px;
            font-size: 10px;
            color: #64533d;
            letter-spacing: normal;
            font-weight: 600;
            position: relative;
            right: 1px;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    &__logo {
        width: 270px;
        margin: 0 auto 25px auto;
        padding-top: 30px;
    }
    &__address {
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 16px;
            color: #64533d;
            text-align: center;
            line-height: 24px;
        }
    }
    &__copyright {
        margin-top: 20px;
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 10px;
            color: #64533d;
            text-align: center;
        }
    }
}