/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*メイン*/

/*レスポンシブ（要相談）*/
//@media (max-width: ){

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    width: 1400px;
    //とりあえず文字間2pxとしている
    letter-spacing: 2px;
}
.header-wrapper {
    height: 80px;
    &--logo {
        width: 236px;
        height: 54px;
        margin-left: 40px;
        margin: 13px 0 0 40px;
        display: inline-block;
    }
    &--nav {
        float: right;
        .list-header-nav {
            list-style: none;
            display: flex;
            a {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                text-decoration: none;
                font-size: 16px;
                color: #64533d;
                display: block;
                margin-top: 33px;
                margin-right: 40px;
            }
        }
    }
}
.main__topImage {
    height: 544px;
}
/*見出し*/
.headline {
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-size: 56px;
    //とりあえず文字の太さを550としている
    font-weight: 550;
    color: #841d08;
    //とりあえず文字の間隔を5.5pxとしている
    letter-spacing: 5.5px;
}
.main-wrapper {
    //height: 5253px;
    height: 6150px;
    background-image: url("./image/backgroundMain.png");
    &__headline {
        width: 492.8px;
        //margin: 0px 448px 72px 459px;
        margin: 0px auto 72px auto;
        padding-top: 100px;
    }
    /*共通部分の設計*/
    .title-wrapper {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        .leftShape {
            margin-right: 22px;
            height: 59px;
        }
        &__text {
            height: 59px;
            //とりあえず8pxとした
            padding-top: 8px;
            .titleText {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                font-size: 46px;
                color: #64533d;
                //とりあえず文字の太さを550としている
                font-weight: 550;
            }
        }
        .rightShape {
            margin-left: 22px;
            height: 59px;
        }
    }
    .caution {
        font-size: 14px;
        color: #64533d;
        //とりあえず注意書きの文字間は1.5pxとしている
        letter-spacing: 1.5px;
        text-align: right;
        margin-bottom: 15px;
    }
    .pattern {
        margin: 0 auto;
        margin-top: 41px;
        margin-bottom: 42px;
    }
    table {
        box-sizing: border-box;
        tr {
            box-sizing: border-box;
        }
        th {
            color: white;
            font-size: 20px;
            background-color: #f19d19;
            height: 49px;
            box-sizing: border-box;
            white-space: nowrap;
        }
        td {
            color: #64533d;
            font-size: 16px;
            text-align: center;
            background-color: #fadfcc;
            line-height: 24px;
            box-sizing: border-box;
        }
    }
    /*各講習部分の詳細設計*/
    /*導入講習*/
    .donyu {
        width: 100%;
        .title-wrapper {
            width: 300px;
        }
        .pattern {
            width: 724px;
            position: relative;
            h3 {
                text-align: center;
                color: #64533d;
                font-size: 20px;
                letter-spacing: normal;
                opacity: 0.9;
                font-weight: 600;
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                position: absolute;
                top: 65px;
                left: 80px;
            }
        }
        &__table1 {
            margin: 0 auto;
            width: 922px;
            .head1 {
                width: 196px;
                padding: 14px 44px 16px 40px;
            }
            .head2 {
                width: 433px;
                padding: 15px 193px 15px 196px;
            }
            .head3 {
                width: 291px;
                padding: 15px 122px 16px 125px;
            }
            .data1 {
                padding-top: 40px;
                padding-bottom: 63px;
            }
            .data2 {
                padding-top: 40px;
            }
            .data3 {
                .donyu-fee-table {
                    display: flex;
                    .donyu-instructors {
                        margin-left: 39px;
                        text-align: left;
                    }
                    .donyu-fee {
                        margin-left: 30px;
                    }
                }
            }
            .head1, .data1, .head2, .data2 {
                border-right: 2px solid #faefdb;
            }
        }
        &__table2 {
            margin-top: 41px;
            margin-left: 87px;
            display: flex;
            &--first {
                margin-right: 32px;
                .head1 {
                    width: 597px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                .data1 {
                    padding: 40px 35px 24px 35px;
                    .textGroup {
                        height: 108px;
                        .text1 {
                            margin-bottom: 20px;
                            p {
                                font-size: 20px;
                            }
                        }
                        .text2 {
                            margin-bottom: 30px;
                            margin-left: 70px;
                            p {
                                text-align: left;
                            }
                        }
                    }
                }
            }
            &--second {
                .head1 {
                    width: 597px;
                    padding-top: 14px;
                    padding-bottom: 16px;
                }
                .data1 {
                    padding: 41px 57px 153px 64px;
                    .textGroup {
                        height: 207px;
                        .donyu-contentPrivilege {
                            list-style: none;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    /*セット講習*/
    .set {
        margin-top: 73px;
        .title-wrapper {
            width: 340px;
        }
        .pattern {
            width: 768px;
            position: relative;
            h3 {
                text-align: center;
                color: #64533d;
                font-size: 20px;
                letter-spacing: normal;
                opacity: 0.9;
                font-weight: 600;
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                position: absolute;
                top: 64px;
                left: 83px;
            }
        }
        &__table1 {
            margin: 37px auto 41px auto;
            width: 922px;
            .head1 {
                padding: 14px 83px 16px 84px;
            }
            .head2 {
                padding: 15px 299px 15px 300px;
            }
            .data {
                height: 142px;
            }
            .data1 {
                padding-top: 51px;
            }
            .data2 {
                padding-top: 51px;
            }
            .head1, .data1 {
                border-right: 2px solid #faefdb;
            }
        }
        &__table2 {
            margin: 42px auto 0 auto;
            width: 1226px;
            .al-head {
                background-color: #c28356;
                vertical-align: middle;
                padding-left: 15px;
                padding-right: 12px;
            }
            .al-headA, .al-headB, .al-headC, .al-headD {
                border-bottom: 2px solid #faefdb;
            }
            .head1 {
                padding: 15px 200px 16px 200px;
            }
            .head2 {
                padding: 15px 84px 16px 84px;
            }
            .head3 {
                padding: 14px 216px 16px 218px;
            }
            .data {
                height: 85.4px;
            }
            .data1 {
                vertical-align: middle;
                h3 {
                    text-align: left;
                    padding-left: 29px;
                    color: #f19d19;
                    font-size: 20px;
                }
                p {
                    text-align: left;
                    padding-left: 29px;
                }
            }
            .data2 {
                vertical-align: middle;
            }
            .data3 {
                padding-top: 33px;
                .textGroup {
                    padding-left: 125px;
                    ul {
                        list-style: none;
                        li {
                            text-align: left;
                        }
                    }
                }
                .privilege {
                    margin-top: 41px;
                }
            }
            .head1, .data1, .head2, .data2 {
                border-right: 2px solid #faefdb;
            }
            .data1, .data2 {
                border-bottom: 2px solid #faefdb;
            }
            .data1-last, .data2-last {
                border-bottom: none;
            }
        }
    }
    /*パーツ別講習*/
    .byPart {
        margin-top: 73px;
        .title-wrapper {
            width: 400px;
        }
        .pattern {
            width: 664px;
            position: relative;
            h3 {
                text-align: center;
                color: #64533d;
                font-size: 20px;
                letter-spacing: normal;
                opacity: 0.9;
                font-weight: 600;
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                position: absolute;
                top: 65px;
                left: 83px;
            }
        }
        &__table1 {
            margin: 37px auto 0 auto;
            width: 922px;
            .head {
                height: 49px;
            }
            .head1 {
                vertical-align: middle;
                padding-left: 42px;
                padding-right: 42px;
            }
            .head2 {
                vertical-align: middle;
                padding-left: 196px;
                padding-right: 193px;
            }
            .head3 {
                vertical-align: middle;
                padding-left: 125px;
                padding-right: 122px;
            }
            .data {
                height: 142px;
            }
            .data1 {
                vertical-align: middle;
            }
            .data2 {
                vertical-align: middle;
            }
            .data3 {
                vertical-align: middle;
            }
            .head1, .data1, .head2, .data2 {
                border-right: 2px solid #faefdb;
            }
        }
        &__table2 {
            margin: 0 auto 0 auto;
            width: 1226px;
            .al-head {
                background-color: #c28356;
                vertical-align: middle;
                padding-left: 15px;
                padding-right: 12px;
            }
            .al-headA, .al-headB, .al-headC, .al-headD, .al-headE {
                border-bottom: 2px solid #faefdb;
            }
            .head1 {
                vertical-align: middle;
                padding-left: 273px;
                padding-right: 273px;
            }
            .head2 {
                vertical-align: middle;
                padding-left: 33px;
                padding-right: 33px;
            }
            .head3 {
                vertical-align: middle;
                padding-left: 195px;
                padding-right: 195px;
            }
            .data {
                height: 61.83px;
            }
            .data1 {
                vertical-align: middle;
                h3 {
                    text-align: left;
                    padding-left: 29px;
                    color: #f19d19;
                    font-size: 20px;
                }
            }
            .data2 {
                vertical-align: middle;
            }
            .data3 {
                padding-top: 33px;
                .textGroup {
                    padding-left: 82px;
                    ul {
                        list-style: none;
                        li {
                            text-align: left;
                        }
                    }
                }
                .privilege {
                    margin-top: 41px;
                }
            }
            .head1, .data1, .head2, .data2 {
                border-right: 2px solid #faefdb;
            }
            .data1 {
                border-bottom: 2px solid #faefdb;
            }
            .data1-last, .data2-last {
                border-bottom: none;
            }
        }
    }
    /*他社切り替え講習*/
    .switchCompany {
        margin-top: 73px;
        .title-wrapper {
            width: 490px;
        }
        .pattern {
            width: 810px;
            position: relative;
            h3 {
                text-align: center;
                color: #64533d;
                font-size: 20px;
                letter-spacing: normal;
                opacity: 0.9;
                font-weight: 600;
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                position: absolute;
                top: 64px;
                left: 88px;
            }
        }
        &__table1 {
            margin: 9px auto 0 auto;
            width: 922px;
            .head {
                height: 49px;
            }
            .head1 {
                vertical-align: middle;
                padding-left: 88px;
                padding-right: 87px;
            }
            .head2 {
                vertical-align: middle;
                padding-left: 211px;
                padding-right: 212px;
            }
            .head3 {
                vertical-align: middle;
                padding-left: 62px;
                padding-right: 60px;
            }
            .data {
                height: 267px;
            }
            .data1 {
                text-align: center;
                padding-top: 51px;
            }
            .data2 {
                text-align: center;
            }
            .data3 {
                text-align: center;
            }
            .head1, .data1, .head2, .data2 {
                border-right: 2px solid #faefdb;
            }
        }
        &__table2 {
            margin: 42px auto 0 auto;
            width: 1226px;
            .head {
                height: 49px;
            }
            .head1 {
                vertical-align: middle;
                padding-left: 200px;
                padding-right: 200px;
            }
            .head2 {
                vertical-align: middle;
                padding-left: 106px;
                padding-right: 106px;
            }
            .head3 {
                vertical-align: middle;
                padding-left: 195px;
                padding-right: 195px;
            }
            .data {
                height: 307px;
            }
            .data1 {
                vertical-align: middle;
                text-align: left;
                padding-left: 55px;
            }
            .data2 {
                vertical-align: middle;
            }
            .data3 {
                padding-top: 35px;
                ul {
                    list-style: none;
                    li {
                        text-align: left;
                        padding-left: 48px;
                    }
                }
                .privilege {
                    margin-top: 30px;
                }
            }
            .head1, .data1, .head2, .data2 {
                border-right: 2px solid #faefdb;
            }
        }
    }
    /*初回導入セット*/
    @mixin iDTable-data1 {
        p {
            font-size: 12px;
            text-align: left;
            padding-top: 30px;
            padding-left: 10px;
        }
        .limitedPrice {
            display: flex;
            width: 320px;
            margin: 30px auto 0 auto;
            &__text {
                h3.price {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    text-decoration: line-through;
                }
                h3.text {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    color: red;
                    letter-spacing: 5px;
                }
            }
            &__price {
                margin-left: 10px;
                h2 {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    color: red;
                    font-size: 50px;
                    margin-top: 12px;
                }
            }
        }
    }
    .initialDeployment {
        margin-top: 72px;
        .title-wrapper {
            width: 540px;
        }
        .pattern {
            width: 664px;
            position: relative;
            h3 {
                text-align: center;
                color: #64533d;
                font-size: 20px;
                letter-spacing: normal;
                opacity: 0.9;
                font-weight: 600;
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                position: absolute;
                top: 64px;
                left: 113px;
            }
        }
        &__table1 {
            display: flex;
            width: 1226px;
            margin: 30px auto 0 auto;
            &--A {
                margin-right: 30px;
                table {
                    width: 389px;
                }
                .head {
                    height: 49px;
                }
                .head1 {
                    vertical-align: middle;
                }
                .data {
                    height: 260px;
                }
                .data1 {
                    @include iDTable-data1;
                }
            }
            &--B {
                margin-right: 30px;
                table {
                    width: 389px;
                }
                .head {
                    height: 49px;
                }
                .head1 {
                    vertical-align: middle;
                }
                .data {
                    height: 260px;
                }
                .data1 {
                    @include iDTable-data1;
                }
            }
            &--C {
                table {
                    width: 389px;
                }
                .head {
                    height: 49px;
                }
                .head1 {
                    vertical-align: middle;
                }
                .data {
                    height: 260px;
                }
                .data1 {
                    @include iDTable-data1;
                    .limitedPrice {
                        margin-top: 78px;
                    }
                }
            }
        }
    }
    /*サロンスタッフ技術講習*/
    .staffTec {
        margin-top: 72px;
        .title-wrapper {
            width: 630px;
        }
        .pattern {
            width: 852px;
            position: relative;
            h3 {
                text-align: center;
                color: #64533d;
                font-size: 20px;
                letter-spacing: normal;
                opacity: 0.9;
                font-weight: 600;
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                position: absolute;
                top: 64px;
                left: 83px;
            }
        }
        &__table1 {
            margin: 9px auto 0 auto;
            width: 922px;
            .head {
                height: 49px;
            }
            .head1 {
                vertical-align: middle;
                padding-left: 88px;
                padding-right: 87px;
            }
            .head2 {
                vertical-align: middle;
                padding-left: 211px;
                padding-right: 212px;
            }
            .head3 {
                vertical-align: middle;
                padding-left: 61px;
                padding-right: 61px;
            }
            .data {
                height: 142px;
            }
            .data1 {
                vertical-align: middle;
            }
            .data2 {
                vertical-align: middle;
            }
            .data3 {
                vertical-align: middle;
            }
            .head1, .data1, .head2, .data2 {
                border-right: 2px solid #faefdb;
            }
        }
        &__table2 {
            margin: 42px auto 0 auto;
            width: 1226px;
            .head {
                height: 49px;
            }
            .head1 {
                vertical-align: middle;
                padding-left: 136px;
                padding-right: 137px;
            }
            .head2 {
                vertical-align: middle;
                padding-left: 113px;
                padding-right: 113px;
            }
            .head3 {
                vertical-align: middle;
                padding-left: 252px;
                padding-right: 251px;
            }
            .data {
                height: 200px;
            }
            .data1 {
                vertical-align: middle;
                ul {
                    list-style: none;
                    li {
                        text-align: left;
                        padding-left: 50px;
                    }
                }
            }
            .data2 {
                vertical-align: middle;
            }
            .data3 {
                vertical-align: middle;
            }
            .head1, .data1, .head2, .data2 {
                border-right: 2px solid #faefdb;
            }
        }
    }
}
.main-wrapper2 {
    &__headline {
        width: 800.8px;
        margin: 100px auto 85px auto;
    }
    .ApplicationFlowBox {
        width: 684px;
        margin: 0 auto 0 auto;
        &__titleBox {
            position: relative;
            &--number {
                position: absolute;
                top: 4px;
                left: 27px;
                h2 {
                    font-family: 'Baskerville', serif;
                    color: #c28356;
                    font-size: 60px;
                    font-style: italic;
                    font-weight: lighter;
                }
            }
            &--number-red {
                position: absolute;
                top: 4px;
                left: 27px;
                h2 {
                    font-family: 'Baskerville', serif;
                    color: #841d08;
                    font-size: 60px;
                    font-style: italic;
                    font-weight: lighter;
                }
            }
            &--text {
                position: absolute;
                top: 18px;
                left: 118px;
                h2 {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    color: #ffffff;
                    font-size: 28px;
                    font-weight: 500;
                }
            }
        }
        .text {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 16px;
            color: #64533d;
            letter-spacing: 1.5px;
        }
        &__text-first {
            box-sizing: border-box;
            width: 684px;
            height: 259px;
            border: 2px solid #c28356;
            margin-top: -4px;
            padding: 35px 47px 0px 47px;
            .TelEmail {
                img {
                    margin: 30px 68px 0px 69px;
                }
            }
        }
        &__text {
            box-sizing: border-box;
            width: 684px;
            height: 113px;
            border: 2px solid #c28356;
            margin-top: -4px;
            padding: 35px 33px 0px 35px;
        }
        &__text-last {
            box-sizing: border-box;
            width: 684px;
            height: 113px;
            border: 2px solid #841d08;
            margin-top: -4px;
            padding: 35px 33px 0 33px;
            margin-bottom: 75px;
        }
    }
    .triangle {
        border-top: 40px solid #c28356;
        border-right: 50px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 50px solid transparent;
        width: 0;
        height: 0;
        margin: 0 auto 0 auto;
    }
}
/*フッター部分*/
.footImage {
    width: 100%;
    height: 1120px;
    background-image: url("./image/footImage/footImage-background.png");
    &__title {
        width: 795px;
        margin: 0px auto 0 auto;
        padding-top: 80px;
    }
    &__marchandises {
        width: 873px;
        margin: -88px auto 0 auto;
    }
    &__contactToMail {
        width: 351px;
        margin: -197px auto 0 auto;
    }
    &__contactToPhone {
        width: 470px;
        margin: 40px auto 0 auto;
    }
}
.footer-wrapper1 {
    height: 140px;
    &--nav {
        width: 325px;
        margin: 0 auto 0 auto;
        .list-header-nav {
            list-style: none;
            display: flex;
            a {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                text-decoration: none;
                font-size: 16px;
                color: #64533d;
                display: block;
                margin: 62px 40px 62px 0;
            }
            a.last {
                margin-right: 0;
            }
        }
    }
}
.footer-wrapper2 {
    height: 265px;
    background: url("./image/backgroundFooter.png");
    position: relative;
    .pageTop {
        position: absolute;
        top: 108px;
        right: 40px;
        &__text {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            margin-top: 5px;
            font-size: 10px;
            color: #64533d;
            letter-spacing: normal;
            font-weight: 600;
            position: relative;
            right: 1px;
        }
    }
    &__logo {
        width: 270px;
        margin: 0 auto 25px auto;
        padding-top: 30px;
    }
    &__address {
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 16px;
            color: #64533d;
            text-align: center;
            line-height: 24px;
        }
    }
    &__copyright {
        margin-top: 20px;
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 10px;
            color: #64533d;
            text-align: center;
        }
    }
}