/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*メイン*/
* {
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    //font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 20px;
    color: #000;
    font-size: 16px;
    @media screen and (max-width:500px) {
        font-size: 14px;
    }
}
/*header部分*/
.header-wrapper {
    width: 100%;
    height: calc(40 / 320 * 100vw);
    @media screen and (max-width:500px) {
        height: 60px;
    }
    background: #fff;
    opacity: 0.9;
    position: fixed;
    z-index: 10;
    &__logo {
        width: 40vw;
        @media screen and (max-width:500px) {
            width: 150px;
        }
        height: 100%;
        display: inline-block;
        &--wrapper {
            width: 100%;
            margin-top: calc(8 / 320 * 100vw);
            margin-left: calc(10 / 320 * 100vw);
            @media screen and (max-width:500px) {
                margin-top: 16px;
                margin-left: 12px;
            }
            img {
                width: 100%;
            }
        }
    }
    &__nav {
        float: right;
        height: 100%;
        position: relative;
        margin-right: 30px;
        @media screen and (max-width:650px) {
            margin-right: 10px;
        }
        ul.list-header-nav {
            list-style: none;
            width: 550px;
            @media screen and (max-width:600px) {
                width: 500px;
            }
            @media screen and (max-width:550px) {
                width: 450px;
            }
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            a {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                text-decoration: none;
                font-size: 16px;
                @media screen and (max-width:750px) {
                    font-size: 14px;
                }
                @media screen and (max-width:600px) {
                    font-size: 12px;
                }
                color: #64533d;
                letter-spacing: normal;
                transition: 300ms;
                margin-right: calc(40 / 1400 * 100vw);
                &:hover {
                    opacity: 0.6;
                }
            }
        }
        @media screen and (max-width:500px) {
            display: none;
        }
    }
    /*ボタンのアニメーションの実装部分*/
    &__hamburger-menu {
        display: none;
        /*ボタンの配置の部分*/
        float: right;
        //margin-top: calc(12 / 320 * 100vw);
        //margin-right: calc(20 / 320 * 100vw);
        margin-top: 16px;
        margin-right: 16px;
        @media screen and (max-width:500px) {
            display: initial;
            .menu-trigger,
            .menu-trigger span {
                display: inline-block;
                transition: all .4s;
                box-sizing: border-box;
            }
            .menu-trigger {
                position: relative;
                //width: 50px;
                width: 20px;
                //height: 44px;
                height: 16px;
                background: none;
                border: none;
                appearance: none;
                cursor: pointer;
                outline: none;
            }
            .menu-trigger span {
                position: absolute;
                left: 0;
                width: 100%;
                //height: 4px;
                height: 2px;
                background-color: rgb(150, 150, 150);
                //border-radius: 4px;
                //border-radius: 3vw;
            }
            .menu-trigger span:nth-of-type(1) {
                top: 0;
            }
            .menu-trigger span:nth-of-type(2) {
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
            .menu-trigger span:nth-of-type(3) {
                bottom: 0;
            }
            .menu-trigger.active span:nth-of-type(1) {
                //transform: translateY(20px) rotate(-315deg) scale(.8);
                transform: translateY(7px) rotate(-315deg) scale(.8);
            }
            .menu-trigger.active span:nth-of-type(2) {
                //width: 60px;
                width: 30px;
                //height: 60px;
                height: 30px;
                background-color: transparent;
                //border: 3px solid #000;
                border: 2px solid rgb(150, 150, 150);
                border-radius: 50%;
            }
            .menu-trigger.active span:nth-of-type(3) {
                //transform: translateY(-20px) rotate(315deg) scale(.8);
                transform: translateY(-7px) rotate(315deg) scale(.8);
            }
        }
    }
}
/*main部分*/
/*フッターのナビゲーションの色が被るので背景を若干グレーにしている*/
main {
    //background-color: rgb(250, 250, 250);
    background: url('../../home_image/background_main.png') center center / cover no-repeat;
    width: 100%;
}
.contact-wrapper {
    //padding-top: 80px;
    padding-top: calc(60 / 320 * 100vw);
    @media screen and (max-width:500px) {
        padding-top: 80px;
    }
    margin: 0 auto;
    .title {
        margin-top: 30px;
        margin-bottom: 30px;
        h2 {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-weight: normal;
            text-align: center;
            font-size: 26px;
        }
        @media screen and (max-width:450px) {
            margin: 15px;
            margin-bottom: 15px;
            h2 {
                font-size: 20px;
            }
        }
    }
    .step-wrapper {
        width: 640px;
        height: 60px;
        margin: 0 auto;
        background: url('../contact_image/step2.png') center center / contain no-repeat;
        position: relative;
        .step1,
        .step2,
        .step3 {
            p {
                font-size: 16px;
            }
            h3 {
                font-size: 20px;
            }
        }
        .step1 {
            position: absolute;
            top: 10px;
            left: 25px;
            p,
            h3 {
                color: #000;
            }
        }
        .step2 {
            position: absolute;
            top: 10px;
            left: 245px;
            p,
            h3 {
                color: #fff;
            }
        }
        .step3 {
            position: absolute;
            top: 10px;
            left: 450px;
            p,
            h3 {
                color: #000;
            }
        }
        @media screen and (max-width:700px) {
            width: 530px;
            height: 50px;
            .step1,
            .step2,
            .step3 {
                p {
                    font-size: 14px;
                }
                h3 {
                    font-size: 18px;
                }
            }
            .step1 {
                top: 6px;
                left: 20px;
            }
            .step2 {
                top: 6px;
                left: 205px;
            }
            .step3 {
                top: 6px;
                left: 375px;
            }
        }
        @media screen and (max-width:600px) {
            width: 420px;
            background: url('../contact_image/step2-sp.png') center center / contain no-repeat;
            .step2 {
                left: 155px;
            }
            .step3 {
                left: 295px;
            }
        }
        @media screen and (max-width:500px) {
            width: 400px;
            .step1,
            .step2,
            .step3 {
                p {
                    font-size: 12px;
                }
                h3 {
                    font-size: 16px;
                }
            }
            .step2 {
                left: 150px;
            }
            .step3 {
                left: 280px;
            }
        }
        @media screen and (max-width:420px) {
            width: 330px;
            .step1,
            .step2,
            .step3 {
                h3 {
                    font-size: 14px;
                }
            }
            .step2 {
                left: 123px;
            }
            .step3 {
                left: 235px;
            }
        }
        @media screen and (max-width:350px) {
            width: 300px;
            .step1,
            .step2,
            .step3 {
                p {
                    font-size: 10px;
                }
                h3 {
                    font-size: 12px;
                    margin-top: -5px;
                }
            }
            .step2 {
                left: 115px;
            }
            .step3 {
                left: 215px;
            }
        }
    }
    //textBoxは複数個共通にしている
    .textBox {
        padding: 20px;
        margin: 0 auto;
        width: calc(400 / 500 * 100vw);
        @media screen and (max-width:400px) {
            width: calc(450 / 500 * 100vw);
        }
    }
    .textBox-center {
        text-align: center;
        @media screen and (max-width:400px) {
            width: calc(480 / 500 * 100vw);
        }
    }
    .input-contents-text2 {
        display: none;
    }
    @media screen and (max-width:670px) {
        .input-contents-text1 {
            display: none;
        }
        .input-contents-text2 {
            display: block;
        }
    }
    .input-contents-text1 {
        width: 90%;
        margin: 0 auto;
        table {
            width: 100%;
            border: 2px solid grey;
            //background-color: rgb(240, 240, 240);
            background-color: rgba(255, 255, 255, 0.5);
            th {
                width: 30%;
                border-right: 1px solid rgb(200, 200, 200);
            }
            tr {
                width: 70%;
                border-bottom: 1px solid rgb(200, 200, 200);
            }
            tr.pattern1 {
                th {
                    padding: 30px 0 30px 40px;
                    text-align: left;
                }
                td {
                    padding: 30px 0 30px 20px;
                    text-align: left;
                }
            }
            tr.pattern2 {
                th {
                    padding: 30px 0 60px 40px;
                    text-align: left;
                }
                td {
                    padding: 30px 0 60px 20px;
                    text-align: left;
                }
            }
            tr.pattern3 {
                th {
                    padding: 30px 0 120px 40px;
                    text-align: left;
                }
                td {
                    padding: 30px 0 120px 20px;
                }
            }
            tr.pattern1,
            tr.pattern2,
            tr.pattern3 {
                th,
                td {
                    @media screen and (max-width:780px) {
                        padding-left: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
    .input-contents-text2 {
        width: 90%;
        margin: 0 auto;
        table {
            width: 100%;
            border: 2px solid grey;
            //background-color: rgb(240, 240, 240);
            background-color: rgba(255, 255, 255, 0.5);
            tr {
                border-bottom: 1px solid rgb(200, 200, 200);
            }
            th {
                padding-top: 20px;
                padding-bottom: 20px;
                p.itemText {
                    padding-bottom: 20px;
                }
                p.postNumber {
                    padding-bottom: 10px;
                }
            }
            tr.pattern3 {
                th.head5 {
                    height: 180px;
                }
            }
        }
    }
    .input-contents2-text2 {
        display: none;
    }
    @media screen and (max-width:400px) {
        .input-contents2-text1 {
            display: none;
        }
        .input-contents2-text2 {
            display: block;
        }
    }
    .input-contents2-text1 {
        width: 90%;
        margin: 0 auto;
        table {
            width: 100%;
            border: 2px solid grey;
            //background-color: rgb(240, 240, 240);
            background-color: rgba(255, 255, 255, 0.5);
            tr {
                th {
                    width: 338px;
                    padding: 20px 0 20px 40px;
                    text-align: left;
                    border-right: 1px solid rgb(200, 200, 200);
                }
                td {
                    padding: 20px 0 20px 20px;
                }
            }
        }
        @media screen and (max-width:670px) {
            table {
                tr {
                    th {
                        width: 30%;
                        padding-left: 0;
                        p {
                            text-align: center;
                        }
                    }
                    td {
                        padding-left: 0;
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .input-contents2-text2 {
        width: 90%;
        margin: 0 auto;
        table {
            width: 100%;
            border: 2px solid grey;
            //background-color: rgb(240, 240, 240);
            background-color: rgba(255, 255, 255, 0.5);
            tr {
                th {
                    width: 338px;
                    padding: 20px 0 20px 40px;
                    text-align: left;
                    border-right: 1px solid rgb(200, 200, 200);
                    @media screen and (max-width:400px) {
                        padding-left: 0;
                        p {
                            text-align: center;
                        }
                        p.itemText {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .pageBack {
        width: 90%;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: purple;
        }
    }
    /*.submit-button-wrapper {
        width: 160px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 60px;
    }*/
    .submit-button-wrapper {
        width: 250px;
        @media screen and (max-width:400px) {
            width: 220px;
        }
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 60px;
        display: flex;
        input.button {
            width: 100%;
            color: #fff;
            background: #00aa0c;
            padding: 13px;
            padding-right: 20px;
            padding-left: 20px;
            text-align: center;
            border: none;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
/*footer部分*/
.footer-wrapper1 {
    height: 140px;
    @media screen and (max-width:500px) {
        height: 200px;
    }
    &__nav {
        @media screen and (min-width:501px) {
            margin: 0 auto;
            width: 300px;
            @media screen and (max-width:750px) {
                width: 340px;
            }
            @media screen and (max-width:500px) {
                width: 320px;
            }
            @media screen and (max-width:400px) {
                width: 275px;
            }
            .list-header-nav {
                list-style: none;
                display: flex;
                a {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    text-decoration: none;
                    font-size: 16px;
                    color: #64533d;
                    display: block;
                    margin: 62px 40px 62px 0;
                    @media screen and (max-width:750px) {
                        margin-right: 60px;
                    }
                    @media screen and (max-width:500px) {
                        margin-right: 50px;
                    }
                    @media screen and (max-width:400px) {
                        margin-right: 30px;
                    }
                    letter-spacing: normal;
                    transition: 300ms;
                    &:hover {
                        opacity: 0.6;
                    }
                }
                a.last {
                    margin-right: 0;
                }
            }
        }
        @media screen and (max-width:500px)  {
            margin: 0 auto;
            height: 70px;
            width: 100px;
            padding-top: 33px;
            .list-header-nav {
                list-style: none;
                a {
                    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                    text-decoration: none;
                    font-size: 16px;
                    color: #64533d;
                    display: block;
                    letter-spacing: normal;
                    transition: 300ms;
                    text-align: center;
                    margin-bottom: 40px;
                    &:hover {
                        opacity: 0.6;
                    }
                }
                a.last {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.footer-wrapper2 {
    width: 100%;
    //height: 265px;
    background: url("../../kosyu/kosyu_image/backgroundFooter.png") center center / cover no-repeat;
    position: relative;
    .pageTop {
        position: absolute;
        top: 108px;
        right: 40px;
        @media screen and (max-width:700px) {
            position: static;
            width: 50px;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 30px;
            img {
                width: 100%;
            }
        }
        &__text {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            margin-top: 5px;
            font-size: 10px;
            color: #64533d;
            letter-spacing: normal;
            font-weight: 600;
            position: relative;
            right: 1px;
            white-space: nowrap;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    &__logo {
        width: 380px;
        //ロゴイメージのサイズ調整
        @media screen and (max-width:480px) {
            width: 300px;
        }
        margin: 0 auto 25px auto;
        padding-top: 20px;
        //ロゴイメージとpageTopボタンの配置変更
        @media screen and (max-width:700px) {
            padding-top: 0;
        }
        img {
            width: 100%;
        }
    }
    &__address {
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 16px;
            color: #312b24;
            text-align: center;
            line-height: 24px;
            //住所のテキストのフォントサイズ調整
            @media screen and (max-width:480px) {
                font-size: 14px;
            }
            @media screen and (max-width:400px) {
                font-size: 12px;
            }
            @media screen and (max-width:360px) {
                font-size: 10px;
            }
        }
    }
    &__copyright {
        margin-top: 20px;
        padding-bottom: 10px;
        p {
            font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
            font-size: 10px;
            color: #64533d;
            text-align: center;
        }
    }
}
/*ハンバーガーメニュー*/
.hamburgermenu {
    background: #fff;
    //width: 150px;
    width: 50vw;
    position: fixed;
    top: 0;
    //right: -150px;
    right: -50vw;
    height: 100%;
    z-index: 20;
    transition: transform 0.3s;
    ul.nav {
        li {
            margin-bottom: 40px;
            list-style: none;
            //text-align: center;
            text-align: left;
            margin-left: 50px;
            &:last-of-type {
                margin-bottom: 0;
            }
            a {
                font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
                font-size: 16px;
                color: #64533d;
                letter-spacing: normal;
                text-decoration: none;
                transition: 300ms;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
        li.menuText {
            margin-top: 30px;
            margin-bottom: 40px;
            margin-left: 30px;
            h2 {
                font-size: 20px;
                color: #000;
                opacity: 0.9;
                //text-align: center;
                text-align: left;
            }
        }
    }
}
/*ハンバーガーメニューのドロワーが開かれた時のスタイル*/
.slide {
    transform: translate3d(-50vw, 0, 0);
}
/*全体のアニメーション*/
.header-wrapper,
.contact-wrapper,
.footer-wrapper1,
.footer-wrapper2,
nav.hamburgermenu {
    transition: transform 0.3s;
}