@charset "UTF-8";
/*
*  html5resetcss
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*メイン*/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  width: 100%;
  letter-spacing: 2px;
}

/*header部分*/
.header-wrapper {
  width: 100%;
  height: calc(40 / 320 * 100vw);
  background: #fff;
  opacity: 0.9;
  position: fixed;
  z-index: 10;
  /*ボタンのアニメーションの実装部分*/
}

@media screen and (max-width: 500px) {
  .header-wrapper {
    height: 60px;
  }
}

.header-wrapper__logo {
  width: 40vw;
  height: 100%;
  display: inline-block;
}

@media screen and (max-width: 500px) {
  .header-wrapper__logo {
    width: 150px;
  }
}

.header-wrapper__logo--wrapper {
  width: 100%;
  margin-top: calc(8 / 320 * 100vw);
  margin-left: calc(10 / 320 * 100vw);
}

@media screen and (max-width: 500px) {
  .header-wrapper__logo--wrapper {
    margin-top: 16px;
    margin-left: 12px;
  }
}

.header-wrapper__logo--wrapper img {
  width: 100%;
}

.header-wrapper__nav {
  float: right;
  height: 100%;
  position: relative;
  margin-right: 30px;
}

@media screen and (max-width: 650px) {
  .header-wrapper__nav {
    margin-right: 10px;
  }
}

.header-wrapper__nav ul.list-header-nav {
  list-style: none;
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

@media screen and (max-width: 600px) {
  .header-wrapper__nav ul.list-header-nav {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .header-wrapper__nav ul.list-header-nav {
    width: 450px;
  }
}

.header-wrapper__nav ul.list-header-nav a {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-decoration: none;
  font-size: 16px;
  color: #64533d;
  letter-spacing: normal;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-right: calc(40 / 1400 * 100vw);
}

@media screen and (max-width: 750px) {
  .header-wrapper__nav ul.list-header-nav a {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .header-wrapper__nav ul.list-header-nav a {
    font-size: 12px;
  }
}

.header-wrapper__nav ul.list-header-nav a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .header-wrapper__nav {
    display: none;
  }
}

.header-wrapper__hamburger-menu {
  display: none;
  /*ボタンの配置の部分*/
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}

@media screen and (max-width: 500px) {
  .header-wrapper__hamburger-menu {
    display: initial;
  }
  .header-wrapper__hamburger-menu .menu-trigger,
  .header-wrapper__hamburger-menu .menu-trigger span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header-wrapper__hamburger-menu .menu-trigger {
    position: relative;
    width: 20px;
    height: 16px;
    background: none;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    outline: none;
  }
  .header-wrapper__hamburger-menu .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #969696;
  }
  .header-wrapper__hamburger-menu .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .header-wrapper__hamburger-menu .menu-trigger span:nth-of-type(2) {
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  .header-wrapper__hamburger-menu .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .header-wrapper__hamburger-menu .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(7px) rotate(-315deg) scale(0.8);
            transform: translateY(7px) rotate(-315deg) scale(0.8);
  }
  .header-wrapper__hamburger-menu .menu-trigger.active span:nth-of-type(2) {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #969696;
    border-radius: 50%;
  }
  .header-wrapper__hamburger-menu .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-7px) rotate(315deg) scale(0.8);
            transform: translateY(-7px) rotate(315deg) scale(0.8);
  }
}

.main-topImage {
  width: 100vw;
  height: calc(544 / 1400 * 100vw);
  background: url("../kosyu_image/bg_Topimage.png") bottom center/contain no-repeat;
  padding-top: calc(40 / 320 * 100vw);
}

.main-topImage h2 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-weight: 600;
  text-align: center;
  padding-top: calc(120 / 1400 * 100vw);
  font-size: 4vw;
  color: #841d08;
  text-shadow: 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff;
}

.main-topImage h3 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-weight: 600;
  text-align: center;
  margin-top: calc(38 / 1400 * 100vw);
  font-size: 2.29vw;
  color: #841d08;
  text-shadow: 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff;
}

.main-topImage__textBox {
  margin-top: calc(62 / 1400 * 100vw);
}

.main-topImage__textBox p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.43vw;
  color: #64533d;
  line-height: calc(32 / 1400 * 100vw);
  text-shadow: 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff, 0 0 12px #fff;
}

@media screen and (max-width: 649px) {
  .main-topImage__textBox p {
    line-height: calc(50 / 1400 * 100vw);
  }
}

@media screen and (max-width: 499px) {
  .main-topImage__textBox p {
    font-size: 10px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

/*見出し*/
h2.headline {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 5vw;
  font-weight: 550;
  color: #841d08;
  letter-spacing: calc(5.5 / 1400 * 100vw);
  text-align: center;
}

@media screen and (max-width: 650px) {
  h2.headline {
    font-size: 16px;
  }
}

.main-wrapper {
  background: url("../kosyu_image/backgroundMain.png") center center/cover no-repeat;
  /*共通部分の設計*/
  /*各講習部分の詳細設計*/
  /*導入講習*/
  /*セット講習*/
  /*パーツ別講習*/
  /*他社切り替え講習*/
  /*初回導入セット*/
  /*初回限定導入セット*/
  /*サロンスタッフ技術講習*/
}

.main-wrapper__headline {
  margin-bottom: calc(72 / 1400 * 100vw);
  padding-top: calc(100 / 1400 * 100vw);
}

.main-wrapper .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(59 / 1400 * 100vw);
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .main-wrapper .title-wrapper {
    margin-bottom: 10px;
  }
}

.main-wrapper .title-wrapper .leftShape {
  margin-right: calc(22 / 1400 * 100vw);
  width: calc(27 / 1400 * 100vw);
}

.main-wrapper .title-wrapper .leftShape img {
  height: 100%;
}

.main-wrapper .title-wrapper__text {
  padding-top: calc(8 / 1400 * 100vw);
}

.main-wrapper .title-wrapper__text h2.titleText {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 3.3vw;
  color: #64533d;
  font-weight: 550;
  white-space: nowrap;
}

.main-wrapper .title-wrapper .rightShape {
  margin-left: calc(22 / 1400 * 100vw);
  width: calc(27 / 1400 * 100vw);
}

.main-wrapper .title-wrapper .rightShape img {
  height: 100%;
}

@media screen and (max-width: 650px) {
  .main-wrapper .title-wrapper {
    height: 34px;
  }
  .main-wrapper .title-wrapper .leftShape {
    margin-right: 10.5px;
    width: 12.6px;
  }
  .main-wrapper .title-wrapper .leftShape img {
    height: 100%;
  }
  .main-wrapper .title-wrapper__text {
    padding-top: 7px;
  }
  .main-wrapper .title-wrapper__text h2.titleText {
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-size: 21.5px;
    color: #64533d;
    font-weight: 550;
    text-align: center;
    white-space: nowrap;
  }
  .main-wrapper .title-wrapper .rightShape {
    margin-left: 6.5px;
    width: 12.6px;
  }
  .main-wrapper .title-wrapper .rightShape img {
    height: 100%;
  }
}

.main-wrapper .caution {
  font-size: 1.3vw;
  color: #64533d;
  letter-spacing: calc(1.5 / 1400 * 100vw);
  text-align: right;
  margin-bottom: calc(15 / 1400 * 100vw);
  /*//画面幅599pxから適用
        @media screen and (max-width:599px) {
            font-size: 10px;
            transform: scale(0.8);
            transform-origin: right;
        }
        //画面幅400pxから適用
        @media screen and (max-width:400px) {
            transform: scale(0.7);
        }*/
}

@media screen and (max-width: 768px) {
  .main-wrapper .caution {
    font-size: 10px;
  }
}

@media screen and (min-width: 501px) {
  .main-wrapper .pattern {
    margin: 0 auto;
    margin-top: calc(41 / 1400 * 100vw);
    margin-bottom: calc(42 / 1400 * 100vw);
    height: calc(147 / 1000 * 100vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-wrapper .pattern h3 {
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
    letter-spacing: normal;
    color: #64533d;
    opacity: 0.9;
    line-height: calc(147 / 1000 * 100vw);
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapper .pattern {
    display: none;
  }
}

@media screen and (min-width: 501px) {
  .main-wrapper .pattern-sp {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapper .pattern-sp {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: calc(147 / 1000 * 100vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .main-wrapper .pattern-sp h3 {
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    letter-spacing: normal;
    color: #64533d;
    opacity: 0.9;
    line-height: 3vw;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .pattern-sp {
    height: calc(160 / 1000 * 100vw);
  }
  .main-wrapper .pattern-sp h3 {
    line-height: 4vw;
  }
}

.main-wrapper table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper table tr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper table th {
  background-color: #f19d19;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  color: white;
  font-size: 2vw;
  height: calc(49 / 1400 * 100vw);
}

@media screen and (max-width: 600px) {
  .main-wrapper table th {
    font-size: 12px;
    height: 25px;
  }
}

.main-wrapper table td {
  color: #64533d;
  font-size: 1.14vw;
  text-align: center;
  background-color: #fadfcc;
  line-height: calc(24 / 1400 * 100vw);
  letter-spacing: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 877px) {
  .main-wrapper table td {
    font-size: 10px;
  }
}

.main-wrapper .donyu {
  width: 100%;
}

.main-wrapper .donyu .title-wrapper {
  max-width: calc(300 / 1400 * 100vw);
}

@media screen and (max-width: 650px) {
  .main-wrapper .donyu .title-wrapper {
    min-width: 139.5px;
  }
}

.main-wrapper .donyu .pattern {
  width: calc(724 / 1000 * 100vw);
  background: url("../kosyu_image/pattern-donyu.png") top center/contain no-repeat;
}

@media screen and (max-width: 500px) {
  .main-wrapper .donyu .pattern {
    width: calc(690 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .donyu .pattern {
    width: calc(740 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

.main-wrapper .donyu__table1 {
  margin: 0 auto;
  width: calc(922 / 1400 * 100vw);
  /*画面幅665px以下の時のtable1*/
  /*画面幅549px以下の時のtable1*/
  /*画面幅450px以下の時のtable1*/
}

.main-wrapper .donyu__table1 .head1,
.main-wrapper .donyu__table1 .head2,
.main-wrapper .donyu__table1 .head3 {
  text-align: center;
  vertical-align: middle;
}

.main-wrapper .donyu__table1 .head1 {
  min-width: calc(196 / 1400 * 100vw);
}

.main-wrapper .donyu__table1 .head2 {
  min-width: calc(433 / 1400 * 100vw);
}

.main-wrapper .donyu__table1 .head3 {
  width: calc(291 / 1400 * 100vw);
}

.main-wrapper .donyu__table1 .data1,
.main-wrapper .donyu__table1 .data2,
.main-wrapper .donyu__table1 .data3 {
  padding-top: calc(40 / 1400 * 100vw);
  padding-bottom: calc(63 / 1400 * 100vw);
  line-height: calc(24 / 1200 * 100vw);
}

.main-wrapper .donyu__table1 .data2 p.text1 {
  display: none;
}

@media screen and (min-width: 550px) {
  .main-wrapper .donyu__table1 .data2 p.text1 {
    display: initial;
  }
}

.main-wrapper .donyu__table1 .data2 p.text2 {
  display: none;
}

.main-wrapper .donyu__table1 .data3 .text1 {
  display: none;
}

@media screen and (min-width: 550px) {
  .main-wrapper .donyu__table1 .data3 .text1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-wrapper .donyu__table1 .data3 .text1 .donyu-instructors {
    margin-left: calc(30 / 1400 * 100vw);
    text-align: left;
  }
  .main-wrapper .donyu__table1 .data3 .text1 .donyu-fee {
    margin-left: calc(30 / 1400 * 100vw);
  }
}

.main-wrapper .donyu__table1 .data3 .text2 {
  display: none;
}

.main-wrapper .donyu__table1 .head1,
.main-wrapper .donyu__table1 .data1,
.main-wrapper .donyu__table1 .head2,
.main-wrapper .donyu__table1 .data2 {
  border-right: 2px solid #faefdb;
}

@media screen and (max-width: 665px) {
  .main-wrapper .donyu__table1 {
    width: 511px;
  }
  .main-wrapper .donyu__table1 .head1 {
    min-width: 109px;
  }
  .main-wrapper .donyu__table1 .head2 {
    min-width: 240px;
  }
  .main-wrapper .donyu__table1 .head3 {
    min-width: 162px;
  }
  .main-wrapper .donyu__table1 .data1,
  .main-wrapper .donyu__table1 .data2,
  .main-wrapper .donyu__table1 .data3 {
    padding-top: 19px;
    padding-bottom: 30px;
    line-height: 14px;
  }
  .main-wrapper .donyu__table1 .data2 p.text1 {
    display: initial;
  }
  .main-wrapper .donyu__table1 .data3 .text1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-wrapper .donyu__table1 .data3 .text1 .donyu-instructors {
    margin-left: 20px;
    text-align: left;
  }
  .main-wrapper .donyu__table1 .data3 .text1 .donyu-fee {
    margin-left: 14.5px;
  }
}

@media screen and (max-width: 549px) {
  .main-wrapper .donyu__table1 {
    width: 400px;
  }
  .main-wrapper .donyu__table1 .head1 {
    min-width: 90px;
  }
  .main-wrapper .donyu__table1 .head2 {
    min-width: 230px;
  }
  .main-wrapper .donyu__table1 .head3 {
    min-width: 80px;
  }
  .main-wrapper .donyu__table1 .data2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .main-wrapper .donyu__table1 .data2 p.text2 {
    display: initial;
  }
  .main-wrapper .donyu__table1 .data3 .text1 {
    display: none;
  }
  .main-wrapper .donyu__table1 .data3 .text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-wrapper .donyu__table1 .data3 .text2 .donyu-specifics {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .main-wrapper .donyu__table1 {
    width: 300px;
  }
  .main-wrapper .donyu__table1 .head1 {
    min-width: 80px;
  }
  .main-wrapper .donyu__table1 .head2 {
    min-width: 150px;
  }
  .main-wrapper .donyu__table1 .head3 {
    min-width: 70px;
  }
}

.main-wrapper .donyu__table2 {
  width: calc(1226 / 1400 * 100vw);
  margin: 0 auto;
  margin-top: calc(41 / 1400 * 100vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .donyu__table2--first {
  margin-right: calc(32 / 1400 * 100vw);
}

.main-wrapper .donyu__table2--first .head1 {
  width: calc(597 / 1400 * 100vw);
  padding-top: calc(15 / 1400 * 100vw);
  padding-bottom: calc(15 / 1400 * 100vw);
}

.main-wrapper .donyu__table2--first .data1 {
  padding-top: calc(40 / 1400 * 100vw);
  padding-right: calc(35 / 1400 * 100vw);
  padding-bottom: calc(24 / 1400 * 100vw);
  padding-left: calc(35 / 1400 * 100vw);
}

@media screen and (max-width: 670px) {
  .main-wrapper .donyu__table2--first .data1 {
    height: calc(431 / 1400 * 100vw);
  }
}

@media screen and (max-width: 520px) {
  .main-wrapper .donyu__table2--first .data1 {
    height: calc(451 / 1400 * 100vw);
  }
}

@media screen and (max-width: 350px) {
  .main-wrapper .donyu__table2--first .data1 {
    height: calc(471 / 1400 * 100vw);
  }
}

.main-wrapper .donyu__table2--first .data1 .textGroup {
  height: calc(108 / 1400 * 100vw);
}

.main-wrapper .donyu__table2--first .data1 .textGroup .text1 {
  margin-bottom: calc(20 / 1400 * 100vw);
}

.main-wrapper .donyu__table2--first .data1 .textGroup .text1 p {
  font-size: calc(20 / 1400 * 100vw);
}

@media screen and (max-width: 770px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text1 p {
    font-size: 10px;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@media screen and (max-width: 670px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text1 p {
    font-size: 10px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 450px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text1 p {
    font-size: 10px;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text1 p {
    font-size: 10px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

.main-wrapper .donyu__table2--first .data1 .textGroup .text2 {
  margin-bottom: calc(30 / 1400 * 100vw);
  margin-left: calc(70 / 1400 * 100vw);
}

@media screen and (max-width: 400px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text2 {
    margin-left: calc(20 / 1400 * 100vw);
  }
}

.main-wrapper .donyu__table2--first .data1 .textGroup .text2 p {
  text-align: left;
}

@media screen and (max-width: 770px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text2 p {
    font-size: 10px;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@media screen and (max-width: 670px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text2 p {
    font-size: 10px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 450px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text2 p {
    font-size: 10px;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text2 p {
    font-size: 10px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media screen and (max-width: 550px) {
  .main-wrapper .donyu__table2--first .data1 .textGroup .text2 p {
    line-height: 100%;
  }
}

.main-wrapper .donyu__table2--first .data1 .syozai-donyu-set {
  width: calc(527 / 1400 * 100vw);
}

@media screen and (max-width: 670px) {
  .main-wrapper .donyu__table2--first .data1 .syozai-donyu-set {
    margin-top: calc(30 / 1400 * 100vw);
  }
}

@media screen and (max-width: 520px) {
  .main-wrapper .donyu__table2--first .data1 .syozai-donyu-set {
    margin-top: calc(50 / 1400 * 100vw);
  }
}

@media screen and (max-width: 350px) {
  .main-wrapper .donyu__table2--first .data1 .syozai-donyu-set {
    margin-top: calc(70 / 1400 * 100vw);
  }
}

.main-wrapper .donyu__table2--first .data1 .syozai-donyu-set img {
  width: 100%;
}

.main-wrapper .donyu__table2--second .head1 {
  width: calc(597 / 1400 * 100vw);
  padding-top: calc(15 / 1400 * 100vw);
  padding-bottom: calc(15 / 1400 * 100vw);
}

.main-wrapper .donyu__table2--second .data1 {
  padding-top: calc(41 / 1400 * 100vw);
  padding-right: calc(57 / 1400 * 100vw);
  padding-bottom: calc(153 / 1400 * 100vw);
  padding-left: calc(64 / 1400 * 100vw);
}

@media screen and (max-width: 670px) {
  .main-wrapper .donyu__table2--second .data1 {
    height: calc(431 / 1400 * 100vw);
  }
}

@media screen and (max-width: 520px) {
  .main-wrapper .donyu__table2--second .data1 {
    height: calc(451 / 1400 * 100vw);
  }
}

@media screen and (max-width: 350px) {
  .main-wrapper .donyu__table2--second .data1 {
    height: calc(471 / 1400 * 100vw);
  }
}

.main-wrapper .donyu__table2--second .data1 .textGroup {
  height: calc(207 / 1400 * 100vw);
}

.main-wrapper .donyu__table2--second .data1 .textGroup .donyu-contentPrivilege {
  list-style: none;
  text-align: left;
}

@media screen and (max-width: 770px) {
  .main-wrapper .donyu__table2--second .data1 .textGroup .donyu-contentPrivilege {
    font-size: 10px;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@media screen and (max-width: 670px) {
  .main-wrapper .donyu__table2--second .data1 .textGroup .donyu-contentPrivilege {
    font-size: 10px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 450px) {
  .main-wrapper .donyu__table2--second .data1 .textGroup .donyu-contentPrivilege {
    font-size: 10px;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .donyu__table2--second .data1 .textGroup .donyu-contentPrivilege {
    font-size: 10px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 550px) {
  .main-wrapper .donyu__table2--second .data1 .textGroup .donyu-contentPrivilege {
    line-height: 100%;
  }
}

.main-wrapper .set {
  margin-top: calc(73 / 1400 * 100vw);
}

.main-wrapper .set .title-wrapper {
  max-width: calc(340 / 1400 * 100vw);
}

@media screen and (max-width: 650px) {
  .main-wrapper .set .title-wrapper {
    min-width: 160px;
  }
}

.main-wrapper .set .pattern {
  width: calc(768 / 1000 * 100vw);
  background: url("../kosyu_image/pattern-set.png") top center/contain no-repeat;
}

@media screen and (max-width: 500px) {
  .main-wrapper .set .pattern {
    width: calc(690 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .set .pattern {
    width: calc(740 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

.main-wrapper .set__table1 {
  margin: 0 auto;
  margin-top: calc(37 / 1400 * 100vw);
  margin-bottom: calc(41 / 1400 * 100vw);
  width: calc(922 / 1400 * 100vw);
}

.main-wrapper .set__table1 .head1 {
  padding-top: calc(14 / 1400 * 100vw);
  padding-right: calc(83 / 1400 * 100vw);
  padding-bottom: calc(16 / 1400 * 100vw);
  padding-left: calc(84 / 1400 * 100vw);
}

.main-wrapper .set__table1 .head2 {
  padding-top: calc(15 / 1400 * 100vw);
  padding-right: calc(299 / 1400 * 100vw);
  padding-bottom: calc(15 / 1400 * 100vw);
  padding-left: calc(300 / 1400 * 100vw);
}

.main-wrapper .set__table1 .data {
  height: calc(142 / 1400 * 100vw);
}

.main-wrapper .set__table1 .data1 {
  padding-top: calc(51 / 1400 * 100vw);
}

.main-wrapper .set__table1 .data2 {
  padding-top: calc(51 / 1400 * 100vw);
}

.main-wrapper .set__table1 .head1, .main-wrapper .set__table1 .data1 {
  border-right: 2px solid #faefdb;
}

.main-wrapper .set__table2 {
  margin: 0 auto;
  margin-top: calc(42 / 1400 * 100vw);
  width: calc(1226 / 1400 * 100vw);
}

.main-wrapper .set__table2 .al-head {
  background-color: #c28356;
  vertical-align: middle;
  padding-left: calc(15 / 1400 * 100vw);
  padding-right: calc(12 / 1400 * 100vw);
}

.main-wrapper .set__table2 .al-headA, .main-wrapper .set__table2 .al-headB, .main-wrapper .set__table2 .al-headC, .main-wrapper .set__table2 .al-headD {
  border-bottom: 2px solid #faefdb;
}

.main-wrapper .set__table2 .head1 {
  padding: calc(15 / 1400 * 100vw) calc(200 / 1400 * 100vw);
}

.main-wrapper .set__table2 .head2 {
  padding: calc(15 / 1400 * 100vw) calc(84 / 1400 * 100vw);
}

.main-wrapper .set__table2 .head3 {
  padding: calc(15 / 1400 * 100vw) calc(217 / 1400 * 100vw);
}

.main-wrapper .set__table2 .data {
  height: calc(85.4 / 1400 * 100vw);
}

.main-wrapper .set__table2 .data1 {
  vertical-align: middle;
}

.main-wrapper .set__table2 .data1 h3 {
  text-align: left;
  padding-left: calc(29 / 1400 * 100vw);
  color: #f19d19;
  font-size: 1.14vw;
}

.main-wrapper .set__table2 .data1 p {
  text-align: left;
  padding-left: 29px;
}

.main-wrapper .set__table2 .data2 {
  vertical-align: middle;
}

.main-wrapper .set__table2 .data3 {
  padding-top: calc(33 / 1400 * 100vw);
}

.main-wrapper .set__table2 .data3 .textGroup {
  padding-left: calc(125 / 1400 * 100vw);
}

.main-wrapper .set__table2 .data3 .textGroup ul {
  list-style: none;
}

.main-wrapper .set__table2 .data3 .textGroup ul li {
  text-align: left;
}

.main-wrapper .set__table2 .data3 .privilege {
  width: calc(408 / 1400 * 100vw);
  margin: 0 auto;
  margin-top: calc(41 / 1400 * 100vw);
}

.main-wrapper .set__table2 .data3 .privilege img {
  width: 100%;
}

.main-wrapper .set__table2 .head1, .main-wrapper .set__table2 .data1, .main-wrapper .set__table2 .head2, .main-wrapper .set__table2 .data2 {
  border-right: 2px solid #faefdb;
}

.main-wrapper .set__table2 .data1, .main-wrapper .set__table2 .data2 {
  border-bottom: 2px solid #faefdb;
}

.main-wrapper .set__table2 .data1-last, .main-wrapper .set__table2 .data2-last {
  border-bottom: none;
}

.main-wrapper .byPart {
  margin-top: calc(73 / 1400 * 100vw);
}

.main-wrapper .byPart .title-wrapper {
  max-width: calc(400 / 1400 * 100vw);
}

@media screen and (max-width: 650px) {
  .main-wrapper .byPart .title-wrapper {
    min-width: 185.7px;
  }
}

.main-wrapper .byPart .pattern {
  width: calc(664 / 1000 * 100vw);
  background: url("../kosyu_image/pattern-byPart.png") top center/contain no-repeat;
}

@media screen and (max-width: 500px) {
  .main-wrapper .byPart .pattern {
    width: calc(690 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .byPart .pattern {
    width: calc(740 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

.main-wrapper .byPart__table1 {
  margin: 0 auto;
  margin-top: calc(37 / 1400 * 100vw);
  width: calc(922 / 1400 * 100vw);
}

.main-wrapper .byPart__table1 .head {
  height: calc(49 / 1400 * 100vw);
}

.main-wrapper .byPart__table1 .head1 {
  vertical-align: middle;
  padding-left: calc(42 / 1400 * 100vw);
  padding-right: calc(42 / 1400 * 100vw);
}

.main-wrapper .byPart__table1 .head2 {
  vertical-align: middle;
  padding-left: calc(196 / 1400 * 100vw);
  padding-right: calc(193 / 1400 * 100vw);
}

.main-wrapper .byPart__table1 .head3 {
  vertical-align: middle;
  padding-left: calc(125 / 1400 * 100vw);
  padding-right: calc(122 / 1400 * 100vw);
}

.main-wrapper .byPart__table1 .data {
  height: calc(142 / 1400 * 100vw);
}

.main-wrapper .byPart__table1 .data1 {
  vertical-align: middle;
}

.main-wrapper .byPart__table1 .data2 {
  vertical-align: middle;
}

.main-wrapper .byPart__table1 .data3 {
  vertical-align: middle;
}

.main-wrapper .byPart__table1 .head1, .main-wrapper .byPart__table1 .data1, .main-wrapper .byPart__table1 .head2, .main-wrapper .byPart__table1 .data2 {
  border-right: 2px solid #faefdb;
}

.main-wrapper .byPart__table2 {
  margin: 0 auto 0 auto;
  width: calc(1226 / 1400 * 100vw);
}

.main-wrapper .byPart__table2 .al-head {
  background-color: #c28356;
  vertical-align: middle;
  padding-left: calc(15 / 1400 * 100vw);
  padding-right: calc(12 / 1400 * 100vw);
}

.main-wrapper .byPart__table2 .al-headA, .main-wrapper .byPart__table2 .al-headB, .main-wrapper .byPart__table2 .al-headC, .main-wrapper .byPart__table2 .al-headD, .main-wrapper .byPart__table2 .al-headE {
  border-bottom: 2px solid #faefdb;
}

.main-wrapper .byPart__table2 .head1 {
  vertical-align: middle;
  padding-left: calc(273 / 1400 * 100vw);
  padding-right: calc(273 / 1400 * 100vw);
}

.main-wrapper .byPart__table2 .head2 {
  vertical-align: middle;
  padding-left: calc(33 / 1400 * 100vw);
  padding-right: calc(33 / 1400 * 100vw);
}

.main-wrapper .byPart__table2 .head3 {
  vertical-align: middle;
  padding-left: calc(195 / 1400 * 100vw);
  padding-right: calc(195 / 1400 * 100vw);
}

.main-wrapper .byPart__table2 .data {
  height: calc(61.8 / 1400 * 100vw);
}

.main-wrapper .byPart__table2 .data1 {
  vertical-align: middle;
}

.main-wrapper .byPart__table2 .data1 h3 {
  text-align: left;
  padding-left: calc(29 / 1400 * 100vw);
  color: #f19d19;
  font-size: 140%;
}

.main-wrapper .byPart__table2 .data2 {
  vertical-align: middle;
}

.main-wrapper .byPart__table2 .data3 {
  padding-top: calc(33 / 1400 * 100vw);
}

.main-wrapper .byPart__table2 .data3 .textGroup {
  padding-left: calc(82 / 1400 * 100vw);
}

.main-wrapper .byPart__table2 .data3 .textGroup ul {
  list-style: none;
}

.main-wrapper .byPart__table2 .data3 .textGroup ul li {
  text-align: left;
}

.main-wrapper .byPart__table2 .data3 .privilege {
  width: calc(364 / 1400 * 100vw);
  margin: 0 auto;
  margin-top: calc(41 / 1400 * 100vw);
}

.main-wrapper .byPart__table2 .data3 .privilege img {
  width: 100%;
}

.main-wrapper .byPart__table2 .head1, .main-wrapper .byPart__table2 .data1, .main-wrapper .byPart__table2 .head2, .main-wrapper .byPart__table2 .data2 {
  border-right: 2px solid #faefdb;
}

.main-wrapper .byPart__table2 .data1 {
  border-bottom: 2px solid #faefdb;
}

.main-wrapper .byPart__table2 .data1-last, .main-wrapper .byPart__table2 .data2-last {
  border-bottom: none;
}

.main-wrapper .switchCompany {
  margin-top: calc(73 / 1400 * 100vw);
}

.main-wrapper .switchCompany .title-wrapper {
  max-width: calc(490 / 1400 * 100vw);
}

@media screen and (max-width: 650px) {
  .main-wrapper .switchCompany .title-wrapper {
    min-width: 230px;
  }
}

.main-wrapper .switchCompany .pattern {
  width: calc(810 / 1000 * 100vw);
  background: url("../kosyu_image/pattern-switchCompany.png") top center/contain no-repeat;
}

@media screen and (max-width: 500px) {
  .main-wrapper .switchCompany .pattern {
    width: calc(690 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .switchCompany .pattern {
    width: calc(740 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

.main-wrapper .switchCompany__table1 {
  margin: 0 auto;
  margin-top: calc(9 / 1400 * 100vw);
  width: calc(922 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table1 .head {
  height: calc(49 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table1 .head1 {
  vertical-align: middle;
  padding-left: calc(88 / 1400 * 100vw);
  padding-right: calc(87 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table1 .head2 {
  vertical-align: middle;
  padding-left: calc(211 / 1400 * 100vw);
  padding-right: calc(212 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table1 .head3 {
  vertical-align: middle;
  padding-left: calc(62 / 1400 * 100vw);
  padding-right: calc(60 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table1 .data {
  height: calc(267 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table1 .data1 {
  text-align: center;
  padding-top: calc(51 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table1 .data2 {
  text-align: center;
}

.main-wrapper .switchCompany__table1 .data3 {
  text-align: center;
}

.main-wrapper .switchCompany__table1 .head1, .main-wrapper .switchCompany__table1 .data1, .main-wrapper .switchCompany__table1 .head2, .main-wrapper .switchCompany__table1 .data2 {
  border-right: 2px solid #faefdb;
}

.main-wrapper .switchCompany__table2 {
  margin: 0 auto;
  margin-top: calc(42 / 1400 * 100vw);
  width: calc(1226 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .head {
  height: calc(49 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .head1 {
  vertical-align: middle;
  padding-left: calc(200 / 1400 * 100vw);
  padding-right: calc(200 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .head2 {
  vertical-align: middle;
  padding-left: calc(106 / 1400 * 100vw);
  padding-right: calc(106 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .head3 {
  vertical-align: middle;
  padding-left: calc(195 / 1400 * 100vw);
  padding-right: calc(195 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .data {
  height: calc(307 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .data1 {
  vertical-align: middle;
  text-align: left;
  padding-left: calc(55 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .data2 {
  vertical-align: middle;
}

.main-wrapper .switchCompany__table2 .data3 {
  padding-top: calc(35 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .data3 ul {
  list-style: none;
}

.main-wrapper .switchCompany__table2 .data3 ul li {
  text-align: left;
  padding-left: calc(48 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .data3 .privilege {
  width: calc(364 / 1400 * 100vw);
  margin: 0 auto;
  margin-top: calc(30 / 1400 * 100vw);
}

.main-wrapper .switchCompany__table2 .data3 .privilege img {
  width: 100%;
}

.main-wrapper .switchCompany__table2 .head1, .main-wrapper .switchCompany__table2 .data1, .main-wrapper .switchCompany__table2 .head2, .main-wrapper .switchCompany__table2 .data2 {
  border-right: 2px solid #faefdb;
}

.main-wrapper .initialDeployment {
  margin-top: calc(72 / 1400 * 100vw);
}

.main-wrapper .initialDeployment .title-wrapper {
  max-width: calc(540 / 1400 * 100vw);
}

@media screen and (max-width: 650px) {
  .main-wrapper .initialDeployment .title-wrapper {
    min-width: 255px;
  }
}

.main-wrapper .initialDeployment .pattern {
  width: calc(664 / 1000 * 100vw);
  background: url("../kosyu_image/pattern-initialDeployment.png") top center/contain no-repeat;
}

@media screen and (max-width: 500px) {
  .main-wrapper .initialDeployment .pattern {
    width: calc(690 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .initialDeployment .pattern {
    width: calc(740 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

.main-wrapper .initialDeployment__table1 {
  width: calc(220 / 320 * 100vw);
  margin: 0 auto;
  margin-top: calc(30 / 1400 * 100vw);
}

@media screen and (max-width: 382px) {
  .main-wrapper .initialDeployment__table1 {
    width: calc(280 / 320 * 100vw);
  }
}

.main-wrapper .initialDeployment__table1--A {
  margin-bottom: calc(30 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--A table {
  width: 100%;
}

.main-wrapper .initialDeployment__table1--A .head {
  height: calc(15 / 320 * 100vw);
}

.main-wrapper .initialDeployment__table1--A .head1 {
  vertical-align: middle;
}

.main-wrapper .initialDeployment__table1--A .data {
  height: calc(450 / 1400 * 100vw);
  letter-spacing: normal;
}

.main-wrapper .initialDeployment__table1--A .data1 {
  line-height: 4vw;
}

.main-wrapper .initialDeployment__table1--A .data1 p {
  font-size: 2vw;
  text-align: left;
  padding-top: calc(30 / 1400 * 100vw);
  padding-left: calc(10 / 1400 * 100vw);
}

@media screen and (max-width: 382px) {
  .main-wrapper .initialDeployment__table1--A .data1 p {
    font-size: 10px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    white-space: nowrap;
  }
}

.main-wrapper .initialDeployment__table1--A .data1 .limitedPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(440 / 1400 * 100vw);
  margin: 0 auto;
  margin-top: calc(30 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--A .data1 .limitedPrice__text h3.price {
  font-size: 2vw;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-decoration: line-through;
  white-space: nowrap;
  line-height: calc(44 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--A .data1 .limitedPrice__text h3.text {
  font-size: 2vw;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: red;
  letter-spacing: calc(5 / 1400 * 100vw);
  white-space: nowrap;
  line-height: calc(44 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--A .data1 .limitedPrice__price {
  margin-left: 10px;
}

.main-wrapper .initialDeployment__table1--A .data1 .limitedPrice__price h2 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: red;
  font-size: 5vw;
  margin-top: calc(12 / 1400 * 100vw);
  white-space: nowrap;
}

.main-wrapper .initialDeployment__table1--B {
  margin-bottom: calc(30 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--B table {
  width: 100%;
}

.main-wrapper .initialDeployment__table1--B .head {
  height: calc(15 / 320 * 100vw);
}

.main-wrapper .initialDeployment__table1--B .head1 {
  vertical-align: middle;
}

.main-wrapper .initialDeployment__table1--B .data {
  height: calc(450 / 1400 * 100vw);
  letter-spacing: normal;
}

.main-wrapper .initialDeployment__table1--B .data1 {
  line-height: 4vw;
}

.main-wrapper .initialDeployment__table1--B .data1 p {
  font-size: 2vw;
  text-align: left;
  padding-top: calc(30 / 1400 * 100vw);
  padding-left: calc(10 / 1400 * 100vw);
}

@media screen and (max-width: 382px) {
  .main-wrapper .initialDeployment__table1--B .data1 p {
    font-size: 10px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    white-space: nowrap;
  }
}

.main-wrapper .initialDeployment__table1--B .data1 .limitedPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(440 / 1400 * 100vw);
  margin: 0 auto;
  margin-top: calc(30 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--B .data1 .limitedPrice__text h3.price {
  font-size: 2vw;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-decoration: line-through;
  white-space: nowrap;
  line-height: calc(44 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--B .data1 .limitedPrice__text h3.text {
  font-size: 2vw;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: red;
  letter-spacing: calc(5 / 1400 * 100vw);
  white-space: nowrap;
  line-height: calc(44 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--B .data1 .limitedPrice__price {
  margin-left: 10px;
}

.main-wrapper .initialDeployment__table1--B .data1 .limitedPrice__price h2 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: red;
  font-size: 5vw;
  margin-top: calc(12 / 1400 * 100vw);
  white-space: nowrap;
}

.main-wrapper .initialDeployment__table1--C {
  margin-bottom: calc(15 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--C table {
  width: 100%;
}

.main-wrapper .initialDeployment__table1--C .head {
  height: calc(15 / 320 * 100vw);
}

.main-wrapper .initialDeployment__table1--C .head1 {
  vertical-align: middle;
}

.main-wrapper .initialDeployment__table1--C .data {
  height: calc(350 / 1400 * 100vw);
  letter-spacing: normal;
}

.main-wrapper .initialDeployment__table1--C .data1 {
  line-height: 4vw;
  /*.limitedPrice {
                        margin-top: calc(78 / 1400 * 100vw);
                    }*/
}

.main-wrapper .initialDeployment__table1--C .data1 p {
  font-size: 2vw;
  text-align: left;
  padding-top: calc(30 / 1400 * 100vw);
  padding-left: calc(10 / 1400 * 100vw);
}

@media screen and (max-width: 382px) {
  .main-wrapper .initialDeployment__table1--C .data1 p {
    font-size: 10px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    white-space: nowrap;
  }
}

.main-wrapper .initialDeployment__table1--C .data1 .limitedPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(440 / 1400 * 100vw);
  margin: 0 auto;
  margin-top: calc(30 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--C .data1 .limitedPrice__text h3.price {
  font-size: 2vw;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-decoration: line-through;
  white-space: nowrap;
  line-height: calc(44 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--C .data1 .limitedPrice__text h3.text {
  font-size: 2vw;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: red;
  letter-spacing: calc(5 / 1400 * 100vw);
  white-space: nowrap;
  line-height: calc(44 / 1400 * 100vw);
}

.main-wrapper .initialDeployment__table1--C .data1 .limitedPrice__price {
  margin-left: 10px;
}

.main-wrapper .initialDeployment__table1--C .data1 .limitedPrice__price h2 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: red;
  font-size: 5vw;
  margin-top: calc(12 / 1400 * 100vw);
  white-space: nowrap;
}

.main-wrapper .initialDeployment__table1--C .C-caution {
  display: none;
}

.main-wrapper .staffTec {
  margin-top: calc(72 / 1400 * 100vw);
}

.main-wrapper .staffTec .title-wrapper {
  max-width: calc(630 / 1400 * 100vw);
}

@media screen and (max-width: 650px) {
  .main-wrapper .staffTec .title-wrapper {
    min-width: 305px;
  }
}

.main-wrapper .staffTec .pattern {
  width: calc(852 / 1000 * 100vw);
  background: url("../kosyu_image/pattern-staffTec.png") top center/contain no-repeat;
}

@media screen and (max-width: 500px) {
  .main-wrapper .staffTec .pattern {
    width: calc(690 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper .staffTec .pattern {
    width: calc(740 / 1000 * 100vw);
    background: url("../kosyu_image/pattern-sp.png") top center/contain no-repeat;
  }
}

.main-wrapper .staffTec__table1 {
  margin: 0 auto;
  margin-top: calc(9 / 1400 * 100vw);
  width: calc(922 / 1400 * 100vw);
}

.main-wrapper .staffTec__table1 .head {
  height: calc(49 / 1400 * 100vw);
}

.main-wrapper .staffTec__table1 .head1 {
  vertical-align: middle;
  padding-left: calc(88 / 1400 * 100vw);
  padding-right: calc(87 / 1400 * 100vw);
}

.main-wrapper .staffTec__table1 .head2 {
  vertical-align: middle;
  padding-left: calc(211 / 1400 * 100vw);
  padding-right: calc(212 / 1400 * 100vw);
}

.main-wrapper .staffTec__table1 .head3 {
  vertical-align: middle;
  padding-left: calc(61 / 1400 * 100vw);
  padding-right: calc(61 / 1400 * 100vw);
}

.main-wrapper .staffTec__table1 .data {
  height: calc(142 / 1400 * 100vw);
}

.main-wrapper .staffTec__table1 .data1 {
  vertical-align: middle;
}

.main-wrapper .staffTec__table1 .data2 {
  vertical-align: middle;
}

.main-wrapper .staffTec__table1 .data3 {
  vertical-align: middle;
}

.main-wrapper .staffTec__table1 .head1, .main-wrapper .staffTec__table1 .data1, .main-wrapper .staffTec__table1 .head2, .main-wrapper .staffTec__table1 .data2 {
  border-right: 2px solid #faefdb;
}

.main-wrapper .staffTec__table2 {
  margin: 0 auto;
  margin-top: calc(42 / 1400 * 100vw);
  padding-bottom: calc(100 / 1400 * 100vw);
  width: calc(1226 / 1400 * 100vw);
}

.main-wrapper .staffTec__table2 .head {
  height: calc(49 / 1400 * 100vw);
}

.main-wrapper .staffTec__table2 .head1 {
  vertical-align: middle;
  padding-left: calc(136 / 1400 * 100vw);
  padding-right: calc(137 / 1400 * 100vw);
}

.main-wrapper .staffTec__table2 .head2 {
  vertical-align: middle;
  padding-left: calc(113 / 1400 * 100vw);
  padding-right: calc(113 / 1400 * 100vw);
}

.main-wrapper .staffTec__table2 .head3 {
  vertical-align: middle;
  padding-left: calc(252 / 1400 * 100vw);
  padding-right: calc(251 / 1400 * 100vw);
}

.main-wrapper .staffTec__table2 .data {
  height: calc(200 / 1400 * 100vw);
}

.main-wrapper .staffTec__table2 .data1 {
  vertical-align: middle;
}

.main-wrapper .staffTec__table2 .data1 ul {
  list-style: none;
}

.main-wrapper .staffTec__table2 .data1 ul li {
  text-align: left;
  padding-left: calc(50 / 1400 * 100vw);
}

.main-wrapper .staffTec__table2 .data2 {
  vertical-align: middle;
}

.main-wrapper .staffTec__table2 .data3 {
  vertical-align: middle;
}

.main-wrapper .staffTec__table2 .data3 .privilege {
  width: calc(364 / 1400 * 100vw);
  margin: 0 auto;
}

.main-wrapper .staffTec__table2 .data3 .privilege img {
  width: 100%;
}

.main-wrapper .staffTec__table2 .head1, .main-wrapper .staffTec__table2 .data1, .main-wrapper .staffTec__table2 .head2, .main-wrapper .staffTec__table2 .data2 {
  border-right: 2px solid #faefdb;
}

.main-wrapper2__headline {
  width: calc(1000 / 1400 * 100vw);
  margin: 0 auto;
  margin-top: calc(100 / 1400 * 100vw);
  margin-bottom: calc(85 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox {
  width: calc(684 / 1400 * 100vw);
  margin: 0 auto;
}

.main-wrapper2 .ApplicationFlowBox__titleBox {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(684 / 1400 * 100vw);
  height: calc(64 / 1400 * 100vw);
  background: #c28356;
  border: 2px solid #c28356;
  overflow: hidden;
}

.main-wrapper2 .ApplicationFlowBox__titleBox::before {
  width: calc(100 / 1400 * 100vw);
  height: calc(100 / 1400 * 100vw);
  content: ' ';
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: calc(-19 / 1400 * 100vw);
  right: calc(590 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__titleBox--number {
  position: absolute;
  top: calc(3 / 1400 * 100vw);
  left: calc(27 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__titleBox--number h2 {
  font-family: 'Baskerville', serif;
  color: #c28356;
  font-size: 4.29vw;
  font-style: italic;
  font-weight: lighter;
}

.main-wrapper2 .ApplicationFlowBox__titleBox--text {
  position: absolute;
  top: calc(18 / 1400 * 100vw);
  left: calc(118 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__titleBox--text h2 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #ffffff;
  font-size: 2vw;
  font-weight: 500;
}

.main-wrapper2 .ApplicationFlowBox__titleBox-last {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(684 / 1400 * 100vw);
  height: calc(64 / 1400 * 100vw);
  background: #841d08;
  border: 2px solid #841d08;
  overflow: hidden;
}

.main-wrapper2 .ApplicationFlowBox__titleBox-last::before {
  width: calc(100 / 1400 * 100vw);
  height: calc(100 / 1400 * 100vw);
  content: ' ';
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: calc(-19 / 1400 * 100vw);
  right: calc(590 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__titleBox-last--number-red {
  position: absolute;
  top: calc(3 / 1400 * 100vw);
  left: calc(27 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__titleBox-last--number-red h2 {
  font-family: 'Baskerville', serif;
  color: #841d08;
  font-size: 4.29vw;
  font-style: italic;
  font-weight: lighter;
}

.main-wrapper2 .ApplicationFlowBox__titleBox-last--text {
  position: absolute;
  top: calc(18 / 1400 * 100vw);
  left: calc(118 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__titleBox-last--text h2 {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #ffffff;
  font-size: calc(28 / 1400 * 100vw);
  font-weight: 500;
}

.main-wrapper2 .ApplicationFlowBox .text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 1.14vw;
  color: #64533d;
  letter-spacing: calc(1.5 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__text-first {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(684 / 1400 * 100vw);
  height: calc(259 / 1400 * 100vw);
  border: 2px solid #c28356;
  margin-top: calc(-4 / 1400 * 100vw);
  padding-top: calc(35 / 1400 * 100vw);
  padding-right: calc(47 / 1400 * 100vw);
  padding-left: calc(47 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__text-first .TelEmail {
  width: calc(453 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__text-first .TelEmail img {
  width: 100%;
  margin-top: calc(30 / 1400 * 100vw);
  margin-right: calc(68 / 1400 * 100vw);
  margin-left: calc(69 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(684 / 1400 * 100vw);
  height: calc(113 / 1400 * 100vw);
  border: 2px solid #c28356;
  margin-top: calc(-4 / 1400 * 100vw);
  padding-top: calc(35 / 1400 * 100vw);
  padding-right: calc(33 / 1400 * 100vw);
  padding-left: calc(35 / 1400 * 100vw);
}

.main-wrapper2 .ApplicationFlowBox__text-last {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(684 / 1400 * 100vw);
  height: calc(113 / 1400 * 100vw);
  border: 2px solid #841d08;
  margin-top: calc(-4 / 1400 * 100vw);
  margin-bottom: calc(75 / 1400 * 100vw);
  padding-top: calc(35 / 1400 * 100vw);
  padding-right: calc(33 / 1400 * 100vw);
  padding-left: calc(33 / 1400 * 100vw);
}

.main-wrapper2 .triangle {
  border-top: calc(40 / 1400 * 100vw) solid #c28356;
  border-right: calc(50 / 1400 * 100vw) solid transparent;
  border-bottom: calc(40 / 1400 * 100vw) solid transparent;
  border-left: calc(50 / 1400 * 100vw) solid transparent;
  width: 0;
  height: 0;
  margin: 0 auto;
}

/*フッター部分*/
.footImage {
  width: 100%;
  background: url("../kosyu_image/footImage/footImage-background.png") center center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.footImage__title {
  width: calc(795 / 1400 * 100%);
  /*画面幅に対して要素を調整*/
  margin: 0 auto;
  padding-top: calc(70 / 1400 * 100%);
  /*画面幅に対して要素の位置を調整*/
}

.footImage__title img {
  width: 100%;
}

.footImage__merchandises {
  width: calc(873 / 1400 * 100%);
  margin: 0 auto 0 auto;
  margin-top: calc(98 / 1400 * (-100%));
}

.footImage__merchandises img {
  width: 100%;
}

.footImage__contactToMail {
  height: 60px;
  width: 351px;
  margin: 0 auto 0 auto;
  margin-top: calc(207 / 1400 * (-100%));
  border: 2px solid #2b757e;
  border-radius: 30px;
  background: linear-gradient(-30deg, #4698a2 20%, #7bd8e4 40%, #7bd8e4 60%, #4698a2 80%, #4698a2);
  position: relative;
  z-index: 3;
}

.footImage__contactToMail--btn {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  padding: 17px 0 17px 0;
  font-size: 24px;
  letter-spacing: normal;
  font-weight: 600;
  text-shadow: 3px 3px 10px #418892;
  border-top: 2px solid #90ccd3;
  border-left: 2px solid #90ccd3;
  border-radius: 30px;
}

.footImage__contactToMail--btn .mailBox {
  padding-right: 7px;
}

.footImage__contactToMail:hover {
  opacity: 0.7;
}

.footImage .fundColor {
  height: 60px;
  width: 351px;
  margin: -60px auto 0 auto;
  border-radius: 30px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.footImage__contactToPhone {
  width: calc(470 / 1400 * 100%);
  margin: 0 auto 0 auto;
  margin-top: calc(40 / 1400 * 100%);
  padding-bottom: calc(97 / 1400 * 100%);
}

.footImage__contactToPhone img {
  width: 100%;
}

.footer-wrapper1 {
  height: 140px;
}

@media screen and (min-width: 501px) {
  .footer-wrapper1--nav {
    width: 325px;
    margin: 0 auto 0 auto;
  }
  .footer-wrapper1--nav .list-header-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-wrapper1--nav .list-header-nav a {
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    text-decoration: none;
    font-size: 16px;
    color: #64533d;
    display: block;
    margin: 62px 40px 62px 0;
    letter-spacing: normal;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .footer-wrapper1--nav .list-header-nav a:hover {
    opacity: 0.6;
  }
  .footer-wrapper1--nav .list-header-nav a.last {
    margin-right: 0;
  }
}

.footer-wrapper2 {
  height: 265px;
  background: url("../kosyu_image/backgroundFooter.png") center center/cover no-repeat;
  position: relative;
}

.footer-wrapper2 .pageTop {
  position: absolute;
  top: 108px;
  right: 40px;
}

.footer-wrapper2 .pageTop__text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  margin-top: 5px;
  font-size: 10px;
  color: #64533d;
  letter-spacing: normal;
  font-weight: 600;
  position: relative;
  right: 1px;
}

.footer-wrapper2 .pageTop a:hover {
  opacity: 0.8;
}

.footer-wrapper2__logo {
  width: 380px;
  margin: 0 auto 25px auto;
  padding-top: 20px;
}

.footer-wrapper2__address p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 16px;
  color: #64533d;
  text-align: center;
  line-height: 24px;
}

.footer-wrapper2__copyright {
  margin-top: 20px;
}

.footer-wrapper2__copyright p {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 10px;
  color: #64533d;
  text-align: center;
}

/*ハンバーガーメニュー*/
.hamburgermenu {
  background: #fff;
  width: 150px;
  position: fixed;
  top: 0;
  right: -150px;
  height: 100%;
  z-index: 20;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hamburgermenu ul.nav li {
  margin-left: 30px;
  margin-bottom: 15px;
  list-style: none;
}

.hamburgermenu ul.nav li:last-of-type {
  margin-bottom: 0;
}

.hamburgermenu ul.nav li a {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 12px;
  color: #64533d;
  display: block;
  letter-spacing: normal;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.hamburgermenu ul.nav li a:hover {
  opacity: 0.6;
}

.hamburgermenu ul.nav li.menuText {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.hamburgermenu ul.nav li.menuText h2 {
  font-size: 16px;
  color: #000;
  opacity: 0.9;
}

/*ハンバーガーメニューのドロワーが開かれた時のスタイル*/
.slide {
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
}

/*ハンバーガーメニュー*/
.hamburgermenu {
  background: #fff;
  width: 150px;
  position: fixed;
  top: 0;
  right: -150px;
  height: 100%;
  z-index: 20;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hamburgermenu ul.nav li {
  margin-left: 30px;
  margin-bottom: 15px;
  list-style: none;
}

.hamburgermenu ul.nav li:last-of-type {
  margin-bottom: 0;
}

.hamburgermenu ul.nav li a {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 12px;
  color: #64533d;
  display: block;
  letter-spacing: normal;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.hamburgermenu ul.nav li a:hover {
  opacity: 0.6;
}

.hamburgermenu ul.nav li.menuText {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.hamburgermenu ul.nav li.menuText h2 {
  font-size: 16px;
  color: #000;
  opacity: 0.9;
}

/*ハンバーガーメニューのドロワーが開かれた時のスタイル*/
.slide {
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
}

/*フェードイン*/
.simple-fadeIn {
  opacity: 0;
  -webkit-transition: all 1.5s 0s ease-in;
  transition: all 1.5s 0s ease-in;
}

.slide-bottom {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1.3s 0s ease-in-out;
  transition: all 1.3s 0s ease-in-out;
}

.slide-right {
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all 1.3s 0s ease-in-out;
  transition: all 1.3s 0s ease-in-out;
}
/*# sourceMappingURL=kosyu_sp.css.map */